<!DOCTYPE html>
<html>

<!-- USED -->

<style>


    #photoSvg{
        position: absolute;
        display: none;
    }

    #placeTextSvg{
        display: block;
        width: 300px;
        height: 250px;

    }

    #placeTextContainer{
        
        position: absolute;
    
       border:2px solid #D35400;

        display: none;

        width: 300px;
        height: 250px;
        
        overflow-y: scroll;
        overflow-x: hidden; 
    }


</style>

<body>

    <script>

        let inputsFiltered = <%- JSON.stringify(inputsFiltered) %>;

    </script>

    <svg id='mapSvg'></svg>

    
    <div id ='placeTextContainer'>
        <svg id="placeTextSvg">
            <text x="0" y="15" id ="placeTextText"></text>
        </svg>
    </div>

    <svg id='photoSvg'width="300" height="250" style="border:2px solid #D35400"></svg>


    <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/topojson@3"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script type="module" src="https://js.api.here.com/v3/3.1/mapsjs.bundle.js"></script>

    <script type="text/javascript" src="/displayMap_all.js"></script>


</body>

</html>