<!DOCTYPE html>
<html lang="en">
  
<!-- USED -->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Log in</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,600;1,300;1,500;1,700&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" href="/login.css" />
</head>

<body>

  <!-- main page -->
  <section class='main-page'>
    <!-- left -->
    <div class='left'>
      <div class='left-content'>
        <div>
          <i class='fas fa-search'></i>
          <h3 class='left-content-heading'> Find a neighborhood </h3>
        </div>
        <div>
          <i class='fas fa-user-friends'></i>
          <h3 class='left-content-heading'> Find residents </h3>
        </div>
        <div>
          <i class='fas fa-comment'></i>
          <h3 class='left-content-heading'> Joing the people </h3>
        </div>

      </div>
    </div>
    <!-- end of left -->

    <!-- right-->
    <div class='right'>

      <form class='right-content-form'>
        <input type='text' class='user-info' name="email" placeholder='Phone, email or username' />
        <div>
          <input type='password' class='password' name="password" placeholder='Password' />
          <label> Forgot password?</label>
        </div>

        <a id='goToForm' href=''>
          <button type='submit' class='btn-top'>Log in</button>
        </a>

      </form>
      <div class='middle-content'>
        <i class="fas fa-map-signs"></i>
        
        <h4>Join</h4>
        <button type='button' class='sign-up'>Sign Up</button>
        <button type='button' class='log-in'>Log In</button>
      </div>

    </div>
    <!-- end of right-->

    <!-- footer -->
    <footer class='main-page-footer'>
      <ul>
        <li> <a href='#'>About </a></li>
        <li> <a href='#'>Blog </a></li>
        <li> <a href='#'>Terms </a></li>
        <li> <a href='#'>Privacy </a></li>
        <li> <a href='#'>&copy; 2021 </a></li>
      </ul>
    </footer>
    <!-- end of footer -->

  </section>
  <!-- end of main page -->







  <!--
  <div class="main">
    <section class="signup">
      <div class="container">

        <div class="signup-content">
          <div class="signup-form">
            <h2 class="form-title">Log in</h2>

            <form method="POST" class="register-form" id="register-form">
              <div class="form-group">
                <label for="email"><i class="zmdi zmdi-email"></i></label>
                <input type="email" name="email" id="email" placeholder="Your Email" />
              </div>
              <div class="form-group">
                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                <input type="password" name="password" id="pass" placeholder="Password" />
              </div>

              <div class="form-group form-button">
                <a id='goToForm' href=''>
                  <input type="submit" name="signup" id="signup" class="form-submit" value="Submit" />
                </a>
              </div>

            </form>
          </div>
          <div class="signup-image">
            <figure><img src="https://raw.githubusercontent.com/diegoleonardoro/bronx_tourism/master/Screen%20Shot%202020-01-17%20at%2010.45.28%20AM.png"
                alt="sing up image"></figure>
          </div>

        </div>
      </div>
    </section>
  </div>
-->

  <script type="text/javascript" src="/login.js"></script>

</body>

</html>