<!DOCTYPE html>
<html>

<!-- JIJIJIJI -->

<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,600;1,300;1,500;1,700&display=swap"
        rel="stylesheet" />


    <base href="/">

    <link rel="stylesheet" href="./styleMainForm.css" />
    <meta charset="utf-8">
    <title>CB2 BX Social Platform</title>
    <div id="userName"></div>


</head>

<body>

        <script>

                let user = <%- JSON.stringify(user) %>;
        
             
                
                console.log(user)
        
            </script>


    <!-- main form page -->
    <section class='main-form-page'>
        <!-- main form page nav -->
        <nav class='main-form-page-page-nav'>
            <ul>
                <li><a href='#'>Explore neighborhoods</a></li>
                <li><a href='#'>About</a></li>
                <li><a href='#'>Language: English</a></li>
            </ul>
        </nav>
        <!-- end of main form page nav -->

        <!-- form -->
        <div class='formWrapper'>

            <form class='form'>



                <div class='display howLongLivingInNeighborhood whatNeighborhood '>
                    <h2>What neighborhood do you live in?</h2>
                    <span>
                        <input type="text" name="neighborhood" id="neighborhoodName" />
                    </span>

                    <div class='borough_Zipcode'>
                        <span class='boroSpan'>
                            <select name='borough' class='selectBoro'>
                                <option value=''>Borough</option>
                                <option value='Brooklyn'>Brooklyn</option>
                                <option value='Manhattan'>Manhattan</option>
                                <option value='Queens'>Queens</option>
                                <option value='The Bronx'>The Bronx</option>
                                <option value='Staten Island'>Staten Island</option>
                            </select>
                            <!--<i class="fas fa-caret-square-down"></i>-->
                        </span>
                        <input type="text" placeholder="Zipcode" name="zipcode" id='zipcodeInput' />
                    </div>

                </div>

                <div class='howLongLivingInNeighborhood favAspectsOfNeighborhood '>
                    <div class='lengthLivingInNeighborhood'>
                        <h2>How long have you been living in this neighborhood?</h2>

                        <div>
                            <input class='form-checkbox' type="radio" value="less than one year" name="lengthLivingInNeighborhood"
                                id="livingLessThanOneYear"></input>
                            <label for="livingLessThanOneYear">Less than one year</label>
                        </div>

                        <div>
                            <input class='form-checkbox' type="radio" value="between 1 and 5 years" name="lengthLivingInNeighborhood"
                                id="living1and5Years"></input>
                            <label for="living1and5Years">Between 1 and 5 years</label>
                        </div>

                        <div>
                            <input class='form-checkbox' type="radio" value="between 6 and 10 years" name="lengthLivingInNeighborhood"
                                id="living6and10Years"></input>
                            <label for="living6and10Years">Between 6 and 10 years</label>
                        </div>

                        <div>
                            <input class='form-checkbox' type="radio" value="between 11 and 15 years" name="lengthLivingInNeighborhood"
                                id="living11and15Years"></input>
                            <label for="living11and15Years">Between 11 and 15 years</label>
                        </div>

                        <div>
                            <input class='form-checkbox' type="radio" value="between 11 and 15 years" name="lengthLivingInNeighborhood"
                                id="living16and20Years"></input>
                            <label for="living16and20Years">Between 16 and 20 years</label>
                        </div>

                        <div>
                            <input class='form-checkbox' type="radio" value="between 11 and 15 years" name="lengthLivingInNeighborhood"
                                id="livingMore20Years"></input>
                            <label for="livingMore20Years">For more than 20 years</label>
                        </div>

                        <div>
                            <input class='form-checkbox' type="radio" value="do not live there" name="lengthLivingInNeighborhood"
                                id="doNotLiveThere"></input>
                            <label for="doNotLiveThere">I do not live in this neighborhood</label>
                        </div>

                    </div>
                </div>

                <div class='favAspectsOfNeighborhood describeNeighborhoodInThreeWords neighbhdDescription'>
                    <h2>How would you describe your neighborhood to someone who is visiting for the
                        first time?
                    </h2>
                    <textarea name="neighborhoodDescription" class="textAreaExplanation"></textarea>
                </div>

                <div class='describeNeighborhoodInThreeWords neighborhoodSatisfactionScale threeWordsDescribeNeighborhood'>

                    <h2 id='threeWorrdsDescribeNeighborhood'>Describe your neighborhood in 3 words: </h2>

                    <label class='threeWordsDescribeNeighborhoodWrapper'>
                        <span>1.</span>
                        <input type="text" name="threeWordsToDecribeNeighborhood"></input>
                    </label>

                    <label class='threeWordsDescribeNeighborhoodWrapper'>
                        <span>2.</span>
                        <input type="text" name="threeWordsToDecribeNeighborhood"></input>
                    </label>

                    <label class='threeWordsDescribeNeighborhoodWrapper'>
                        <span>3.</span>
                        <input type="text" name="threeWordsToDecribeNeighborhood"></input>
                    </label>

                </div>


                <div class='neighborhoodSatisfactionScale satisfactionScaleExplanation likert'>

                    <h2>How do you feel with the following aspects of your neighborhood: </h2>

                    <span class='likertOptions'>
                        <h3>Public Transportation: </h3>
                        <span>
                            <input class='whyDissatisfiedPublicTransport form-checkbox likertScale' type="radio" name="publicTransportation"
                                value="Dissatisfied" id='publicTransportationDissatisfied'>
                            <label for='publicTransportationDissatisfied'>Dissatisfied</label>
                        </span>
                        <span>
                            <input class='whyNeutralPublicTransport form-checkbox likertScale' type="radio" name="publicTransportation"
                                value="Neutral" id='publicTransportationNeutral'>
                            <label for='publicTransportationNeutral'>Neutral</label>
                        </span>
                        <span>
                            <input class='whySatisfiedPublicTransport form-checkbox likertScale' type="radio" name="publicTransportation"
                                value="Satisfied" id='publicTransportationSatisfied'>
                            <label for='publicTransportationSatisfied'>Satisfied</label>
                        </span>
                    </span>

                    <span class='likertOptions'>
                        <h3>Public Spaces: </h3>
                        <span>
                            <input class='whyDissatisfiedPublicSpaces form-checkbox likertScale' type="radio" name="publicSpaces"
                                value="Dissatisfied" id='publicSpacesDissatisfied'>
                            <label for='publicSpacesDissatisfied'>Dissatisfied</label>
                        </span>
                        <span>
                            <input class='whyNeutralPublicSpaces form-checkbox likertScale' type="radio" name="publicSpaces"
                                value="Neutral" id='publicSpacesNeutral'>
                            <label for='publicSpacesNeutral'>Neutral</label>
                        </span>
                        <span>
                            <input class='whySatisfiedPublicSpaces form-checkbox likertScale' type="radio" name="publicSpaces"
                                value="Satisfied" id='publicSpacesSatisfied'>
                            <label for='publicSpacesSatisfied'>Satisfied</label>
                        </span>
                    </span>


                    <span class='likertOptions'>
                        <h3>Neighbors: </h3>
                        <span>
                            <input class='whyDissatisfiedNeighbors form-checkbox likertScale' type="radio" name="neighbors"
                                value="Dissatisfied" id='neighborsDissatisfied'>
                            <label for='neighborsDissatisfied'>Dissatisfied</label>
                        </span>
                        <span>
                            <input class='whyNeutralNeighbors form-checkbox likertScale' type="radio" name="neighbors"
                                value="Neutral" id='neighborsNeutral'>
                            <label for='neighborsNeutral'>Neutral</label>
                        </span>
                        <span>
                            <input class='whySatisfiedNeighbors form-checkbox likertScale' type="radio" name="neighbors"
                                value="Satisfied" id='neighborsSatisfied'>
                            <label for='neighborsSatisfied'>Satisfied</label>
                        </span>
                    </span>


                    <span class='likertOptions'>
                        <h3>Restaurant variety: </h3>
                        <span>
                            <input class='whyDissatisfiedRestaurants form-checkbox likertScale' type="radio" name="restaurants"
                                value="Dissatisfied" id='restaurantsDissatisfied'>
                            <label for='restaurantsDissatisfied'>Dissatisfied</label>
                        </span>
                        <span>
                            <input class='whyNeutralRestaurants form-checkbox likertScale' type="radio" name="restaurants"
                                value="Neutral" id='restaurantsNeutral'>
                            <label for='restaurantsNeutral'>Neutral</label>
                        </span>
                        <span>
                            <input class='whySatisfiedRestaurants form-checkbox likertScale' type="radio" name="restaurants"
                                value="Satisfied" id='restaurantsSatisfied'>
                            <label for='restaurantsSatisfied'>Satisfied</label>
                        </span>
                    </span>



                    <span class='likertOptions'>
                        <h3>Safety: </h3>
                        <span>
                            <input class='whyDissatisfiedSafety form-checkbox likertScale' type="radio" name="safety"
                                value="Dissatisfied" id='safetyDissatisfied'>
                            <label for='safetyDissatisfied'>Dissatisfied</label>
                        </span>
                        <span>
                            <input class='whyNeutralSafety form-checkbox likertScale' type="radio" name="safety" value="Neutral"
                                id='safetyNeutral'>
                            <label for='safetyNeutral'>Neutral</label>
                        </span>
                        <span>
                            <input class='whySatisfiedSafety form-checkbox likertScale' type="radio" name="safety"
                                value="Satisfied" id='safetySatisfied'>
                            <label for='safetySatisfied'>Satisfied</label>
                        </span>
                    </span>
                </div>

                <div class='satisfactionScaleExplanation neighborhoodTips explainLikert'>

                    <h2>Tell us more about your previous answers</h2>
                    <!-------------------------------------------------------------->
                    <div class='likertScaleExplanation whyDissatisfiedPublicTransport'>
                        <h4>Why do you feel dissatisfied with the public transportation?</h4>
                        <textarea type="text" name="publicTransportationExplanation" class='textAreaLikertExplain'></textarea>
                        <!-- add class to this text area -->
                    </div>
                    <div class='likertScaleExplanation whyNeutralPublicTransport'>
                        <h4>Why do you feel neutral with the public transportation?</h4>
                        <textarea type="text" name="publicTransportationExplanation" class='textAreaLikertExplain'></textarea>
                    </div>
                    <div class='likertScaleExplanation whySatisfiedPublicTransport'>
                        <h4>Why do you feel satisfied with the public transportation?</h4>
                        <textarea type="text" name="publicTransportationExplanation" class='textAreaLikertExplain'></textarea>
                    </div>
                    <!-------------------------------------------------------------->
                    <div class='likertScaleExplanation whyDissatisfiedPublicSpaces'>
                        <h4>Why do you feel dissatisfied with the public spaces?</h4>
                        <textarea type="text" name="publicSpacesExplanation" class='textAreaLikertExplain'></textarea>
                    </div>
                    <div class='likertScaleExplanation whyNeutralPublicSpaces'>
                        <h4>Why do you feel neutral with the public spaces?</h4>
                        <textarea type="text" name="publicSpacesExplanation" class='textAreaLikertExplain'></textarea>
                    </div>
                    <div class='likertScaleExplanation whySatisfiedPublicSpaces'>
                        <h4>Why do you feel satisfied with the public spaces?</h4>
                        <textarea type="text" name="publicSpacesExplanation" class='textAreaLikertExplain'></textarea>
                    </div>
                    <!-------------------------------------------------------------->
                    <div class='likertScaleExplanation whyDissatisfiedNeighbors'>
                        <h4>Why do you feel dissatisfied with your neighbors?</h4>
                        <textarea type="text" name="neighborsExplanation" class='textAreaLikertExplain'></textarea>
                    </div>
                    <div class='likertScaleExplanation whyNeutralNeighbors'>
                        <h4>Why do you feel neutral with your neighbors?</h4>
                        <textarea type="text" name="neighborsExplanation" class='textAreaLikertExplain'></textarea>
                    </div>
                    <div class='likertScaleExplanation whySatisfiedNeighbors'>
                        <h4>Why do you feel satisfied with your neighbors?</h4>
                        <textarea type="text" name="neighborsExplanation" class='textAreaLikertExplain'></textarea>
                    </div>
                    <!-------------------------------------------------------------->
                    <div class='likertScaleExplanation whyDissatisfiedRestaurants'>
                        <h4>Why do you feel dissatisfied with the restaurant variety?</h4>
                        <textarea type="text" name="restaurantsVarietyExplanation" class='textAreaLikertExplain'></textarea>
                    </div>
                    <div class='likertScaleExplanation whyNeutralRestaurants'>
                        <h4>Why do you feel neutral with the restaurant variety?</h4>
                        <textarea type="text" name="restaurantsVarietyExplanation" class='textAreaLikertExplain'></textarea>
                    </div>
                    <div class='likertScaleExplanation whySatisfiedRestaurants'>
                        <h4>Why do you feel satisfied with the restaurant variety?</h4>
                        <textarea type="text" name="restaurantsVarietyExplanation" class='textAreaLikertExplain'></textarea>
                    </div>
                    <!-------------------------------------------------------------->

                    <div class='likertScaleExplanation whyDissatisfiedSafety'>
                        <h4>Why do you feel dissatisfied with the safety?</h4>
                        <textarea type="text" name="safetyExplanation" class='textAreaLikertExplain'></textarea>
                    </div>
                    <div class='likertScaleExplanation whyNeutralSafety'>
                        <h4>Why do you feel neurtal with the safety?</h4>
                        <textarea type="text" name="safetyExplanation" class='textAreaLikertExplain'></textarea>
                    </div>
                    <div class='likertScaleExplanation whySatisfiedSafety'>
                        <h4>Why do you feel satisfied with the safety?</h4>
                        <textarea type="text" name="safetyExplanation" class='textAreaLikertExplain'></textarea>
                    </div>

                </div>


                <div class='neighborhoodTips favoritePlaces tips'>
                    <h2>Share any tips for visitors to better enjoy your neighborhood: </h2>

                    <span>1.</span>
                    <input type="text" name="neighborhoodTips"></input>

                    <span>2.</span>
                    <input type="text" name="neighborhoodTips"></input>

                    <span>3.</span>
                    <input type="text" name="neighborhoodTips"></input>


                    <svg class='addNewTip' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" style='height:30px; width:30px'>
                        <path class="cls-1vv" d="M515.5,369.66V332.5h47.94v37.35S516.13,370.29,515.5,369.66Zm23.49-30v21.57M529,350.6h20.41"
                            transform="translate(-514.23 -331.25)" />

                        <path class="cls-2vv" d="M516.75,369.66V332.5l-1.25,1.25h47.94l-1.25-1.25v37.35l1.25-1.25q-11.36.11-22.73.14c-5.36,0-10.71,0-16.07,0-2.09,0-7,.56-8.51-.14s-2.71,1.46-1.26,2.16c1.92.92,5.06.42,7.09.45,5.58.08,11.16.07,16.74.05q12.38,0,24.74-.14a1.26,1.26,0,0,0,1.25-1.25V332.5a1.26,1.26,0,0,0-1.25-1.25H515.5a1.26,1.26,0,0,0-1.25,1.25v37.16A1.25,1.25,0,0,0,516.75,369.66Z"
                            transform="translate(-514.23 -331.25)" />

                        <path class="cls-2vv" d="M537.74,339.62v21.57a1.25,1.25,0,0,0,2.5,0V339.62a1.25,1.25,0,0,0-2.5,0Z"
                            transform="translate(-514.23 -331.25)" />

                        <path class="cls-2vv" d="M529,351.85h20.41a1.25,1.25,0,0,0,0-2.5H529a1.25,1.25,0,0,0,0,2.5Z"
                            transform="translate(-514.23 -331.25)" />

                    </svg>
                </div>


                <div class='favoritePlaces anythingElseAboutYou addFavPlaces _fav_Places'>

                    <h2 class='question'>What are your favorite places in this neighborhood? </h2>
                    <label class='labelAddPlace'>Exact address of the place:</label>
                    <input type="text" name="favoritePlaceAddress" class='nameOfPlace'></input>
                    <label class='labelAddPlace'>Why is this one of you favorite places:</label>
                    <textarea type="text" name="favoritePlaceDescription" class="textareaFavPlaceDescription"></textarea>

                    <span>
                        <label class='placeLabel _fav_Places' id='imageLabel'>Share an image of this place:
                            <input type="file" name="placeImage" class='labelPhoto favoritePlace1' />
                        </label>

                        <!--
                        <svg id="cameraSvg" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310.18 222.68">
                            <path class="camera cam1" d="M401.47,326.41H381.73s-24.23,2.24-26.48,30.51l-.44,114s-.9,30.52,27.37,35l249.49.45s29.17,0,31.87-30.06L664,357.82s0-29.61-33.65-31l-128.79-1.35-.45-24.23s.45-13.91-19.29-16.15l-60.58-.45s-14.81-.9-19.75,17.5Z"
                                transform="translate(-354.3 -284.17)" />
                            <rect class="camera" x="60.63" y="15.76" width="74.94" height="20.19" />
                            <rect class="camera cam2" x="0.5" y="104.16" width="308.73" height="55.64" />
                            <ellipse class="camera cam3" cx="69.38" cy="65.12" rx="12.79" ry="12.56" />
                            <circle class="camera cam4" cx="171.92" cy="131.54" r="79.43" />
                            <circle class="camera cam5" cx="172.37" cy="132.88" r="68.21" />
                            <circle class="camera cam6" cx="171.25" cy="133.56" r="54.07" />
                            <circle class="camera cam7" cx="171.7" cy="132.21" r="40.61" />
                            <ellipse class="camera cam8" cx="182.02" cy="105.85" rx="22.21" ry="22.78" />
                            <path class="camera cam9" d="M585,325.51V309.36s1.34-6.73,8.07-7.18H603a8.42,8.42,0,0,1,8.07,7.18l.45,16.15Z"
                                transform="translate(-354.3 -284.17)" />
                        </svg>
                        -->

                        <img src="" id="preview" class='previewImage'>


                    </span>

                    <label class='placeLabel' id='addPlaceLabel' for='addPlaceButton'>Add place </label>
                    <button type='button' name="placeImage" multiple="multiple" id='addPlaceButton' class='labelPhoto'></button>

                </div>


                <div class='anythingElseAboutYou submitForm moreSelfIntroduction'>
                    <h2>If there is anything else that would like to share about yourself to people who may visit your
                        neighborhood, plese do so: </h2>
                    <textarea name="moreSelfIntroduction" class="textAreaExplanation"></textarea>
                </div>


                <div class='submitForm'>
                    <input type='submit'><a id='goToUserProfile' href=''></a></input>
                </div>

                <div class='displayArrows arrows'>
                    <svg id="prevQuestionSvg">
                        <path id="pathPrevQuestion" d="M 5 40 L 30 65 , 30 15  Z"></path>
                    </svg>
                    <svg id="nextQuestionSvg">
                        <path id="pathNextQuestion" d="M 85 40 L 60 65 , 60 15  Z"></path>
                    </svg>
                </div>

            </form>

            <div class='formIllustration'>

            </div>

            <footer class='footer'>
                <p>Already a member <a href='#'>Log in </a></p>
            </footer>

        </div>
        <!-- end of form -->
    </section>
    <!-- end of main form page -->





    <!-- loading profile illustration -->
    <div id='divSvgNhoodText'>
        <svg class='loadingUserProfileIllustration' style="display:none;" xmlns="http://www.w3.org/2000/svg" width='600'
            viewBox="0 0 544.85 318.06">
            <defs>
                <style>.cls-1{fill:#a1a4a9;}.cls-2{fill:#cb2831;}.cls-3{fill:#e0d1ca;}.cls-4{fill:#a09a97;}.cls-5{fill:#bcd7db;}.cls-6{fill:#8da090;}.cls-7{fill:#95c3b6;}.cls-8{fill:#7d9f9e;}.cls-9{fill:#faf5f8;}.cls-10,.cls-31,.cls-38{fill:none;stroke-miterlimit:10;}.cls-10{stroke:#000;}.cls-11{fill:#c14c2a;}.cls-12{fill:#8f9298;}.cls-13{fill:#a2b4a1;}.cls-14{fill:#bec5c6;}.cls-15{fill:#276b41;}.cls-16{fill:#686437;}.cls-17{fill:#d8d2d2;}.cls-18{fill:#1e4c2e;}.cls-19{fill:#9b3923;}.cls-20{fill:#9d764d;}.cls-21{fill:#222023;}.cls-22{fill:#ddbc91;}.cls-23{fill:#fff9f0;}.cls-24{fill:#03350f;}.cls-25{fill:#a9957c;}.cls-26{fill:#87796c;}.cls-27{fill:#006947;}.cls-28{fill:#1b2020;}.cls-29{fill:#141417;}.cls-30{fill:#0f1515;}.cls-31{stroke:#1b2020;}.cls-32{fill:#ffb633;}.cls-32,.cls-33,.cls-34,.cls-35,.cls-36{opacity:0.57;}.cls-33{fill:#ecca00;}.cls-34{fill:#f9c36e;}.cls-35{fill:#cc9d53;}.cls-36{fill:#ffb643;}.cls-37{fill:#966900;}.cls-38{stroke:#966900;}.cls-39{fill:#382027;}.cls-40{fill:#212a24;}.cls-41{fill:#e8e9ea;}.cls-42{fill:#fffeff;}.cls-43{fill:#ff2e10;}.cls-44{fill:#105945;}.cls-45{fill:#232121;}.cls-46{fill:#f2cf9b;}.cls-47{fill:#b2560d;}.cls-48{fill:#005e59;}.cls-49{fill:#f63619;}.cls-50{fill:#925424;}.cls-51{fill:#402622;}.cls-52{fill:#1c2723;}.cls-53{fill:#2f191e;}.cls-54{fill:#443427;}.cls-55{fill:#68503d;}.cls-56{fill:#8c7064;}.cls-57{fill:#351f24;}.cls-58{fill:#51443b;}.cls-59{fill:#625955;}</style>
            </defs>
            <g id="floor">
                <rect class="cls-1" y="223.6" width="544.85" height="94.47" />
            </g>
            <g id="firstHouse">
                <polygon id="mainBackground" class="cls-2" points="61.62 237.1 61.62 14.11 56.73 14.11 56.73 8.55 187.33 8.55 187.33 13.42 184.27 13.42 184.27 237.89 61.62 237.1" />
                <rect id="bottomFacade" class="cls-3" x="61.47" y="209.49" width="123.08" height="28.41" />
                <g id="roof">
                    <rect class="cls-4" x="56.53" y="8.12" width="130.96" height="6.42" />
                    <rect class="cls-5" x="61.47" y="13.6" width="123.13" height="16.47" />
                    <rect class="cls-6" x="64.72" y="13.4" width="6.32" height="21.06" />
                    <rect class="cls-6" x="92.49" y="13.02" width="6.7" height="21.83" />
                    <rect class="cls-6" x="120.26" y="13.42" width="6.89" height="21.62" />
                    <rect class="cls-6" x="148.4" y="13.21" width="6.51" height="21.45" />
                    <rect class="cls-6" x="176.32" y="13.21" width="5.94" height="20.87" />
                    <rect class="cls-7" x="72.96" y="16.47" width="17.43" height="10.15" />
                    <rect class="cls-7" x="100.72" y="16.66" width="17.43" height="9.57" />
                    <rect class="cls-7" x="128.87" y="16.47" width="17.43" height="10.15" />
                    <rect class="cls-7" x="156.83" y="16.47" width="18" height="10.53" />
                </g>
                <g id="windowFrames">
                    <rect class="cls-8" x="77.94" y="42.32" width="21.83" height="35.04" />
                    <rect class="cls-8" x="113.94" y="42.32" width="21.83" height="35.04" />
                    <rect class="cls-8" x="149.74" y="42.32" width="21.83" height="35.04" />
                    <path class="cls-8" d="M467.71,527.17V491.94s1.34-10.53,10.91-10.34c0,0,9.58-.38,10.53,9.77v36.19Z"
                        transform="translate(-389.01 -389.3)" />
                    <path class="cls-8" d="M503.13,527.46V492.22s1.34-10.53,10.92-10.34c0,0,9.57-.38,10.53,9.77v35.72Z"
                        transform="translate(-389.01 -389.3)" />
                    <path class="cls-8" d="M539,527.24l-.26-35.59s1.34-10.53,10.91-10.34c0,0,9.58-.38,10.54,9.77v36.19Z"
                        transform="translate(-389.01 -389.3)" />
                    <path class="cls-8" d="M468.28,595.82V550.25s1.34-10.53,10.92-10.34c0,0,9.57-.38,10.53,9.76v46.06Z"
                        transform="translate(-389.01 -389.3)" />
                    <path class="cls-8" d="M503.32,596V550.44s1.34-10.53,10.92-10.34c0,0,9.57-.38,10.53,9.77v46Z"
                        transform="translate(-389.01 -389.3)" />
                    <path class="cls-8" d="M538,594.39V548.74s1.34-10.55,10.92-10.36c0,0,9.57-.39,10.53,9.78v46.29Z"
                        transform="translate(-389.01 -389.3)" />
                    <rect class="cls-8" x="78.96" y="213.99" width="21.87" height="23.68" />
                    <rect class="cls-8" x="113.17" y="213.99" width="21.83" height="23.54" />
                </g>
                <g id="stairs">
                    <rect class="cls-9" x="142.47" y="205.08" width="34.47" height="32.74" />
                    <line class="cls-10" x1="147.64" y1="211.11" x2="171.17" y2="211.11" />
                    <line class="cls-10" x1="147.64" y1="215.02" x2="171.77" y2="215.02" />
                    <line class="cls-10" x1="147.64" y1="219.18" x2="171.17" y2="219.18" />
                    <line class="cls-10" x1="147.64" y1="223.09" x2="171.77" y2="223.09" />
                    <line class="cls-10" x1="147.64" y1="226.34" x2="171.17" y2="226.34" />
                    <line class="cls-10" x1="147.64" y1="230.25" x2="171.77" y2="230.25" />
                    <line class="cls-10" x1="147.64" y1="234" x2="171.77" y2="234" />
                </g>
            </g>
            <g id="secondHouse">
                <rect id="mainBackground-2" data-name="mainBackground" class="cls-11" x="183.99" y="45.38" width="116.65"
                    height="186.89" />
                <rect id="lowerFacade" class="cls-12" x="183.87" y="198.06" width="116.38" height="39.83" />
                <rect id="cornice" class="cls-13" x="183.95" y="45.38" width="116.45" height="17.23" />
                <g id="windowFrames-2" data-name="windowFrames">
                    <rect class="cls-14" x="198" y="73.15" width="20.3" height="44.43" />
                    <rect class="cls-14" x="233.04" y="73.15" width="20.3" height="44.43" />
                    <rect class="cls-14" x="266.74" y="73.15" width="20.3" height="44.43" />
                    <rect class="cls-14" x="197.9" y="146.68" width="20.3" height="44.43" />
                    <rect class="cls-14" x="232.95" y="146.68" width="20.3" height="44.43" />
                    <rect class="cls-14" x="199.05" y="202.98" width="20.3" height="32.36" />
                    <rect class="cls-14" x="234.1" y="202.98" width="20.3" height="32.36" />
                    <rect class="cls-14" x="264.83" y="141.77" width="25.31" height="55.25" />
                </g>
                <g id="stairs-2" data-name="stairs">
                    <rect class="cls-9" x="262.72" y="196.95" width="28.6" height="40.88" />
                    <line class="cls-10" x1="267.01" y1="204.47" x2="286.54" y2="204.47" />
                    <line class="cls-10" x1="267.01" y1="209.35" x2="287.03" y2="209.35" />
                    <line class="cls-10" x1="267.01" y1="214.54" x2="286.54" y2="214.54" />
                    <line class="cls-10" x1="267.01" y1="219.42" x2="287.03" y2="219.42" />
                    <line class="cls-10" x1="267.01" y1="223.49" x2="286.54" y2="223.49" />
                    <line class="cls-10" x1="267.01" y1="228.37" x2="287.03" y2="228.37" />
                    <line class="cls-10" x1="267.01" y1="233.05" x2="287.03" y2="233.05" />
                </g>
            </g>
            <g id="thirdHouse">
                <rect id="mainBackground-3" data-name="mainBackground" class="cls-15" x="300.25" y="13.72" width="79.15"
                    height="224.63" />
                <rect id="loerFacade" class="cls-16" x="300.06" y="214.36" width="79.08" height="24.04" />
                <g id="facadeDecor">
                    <rect class="cls-9" x="299.88" y="13.04" width="79.52" height="14.98" />
                    <rect class="cls-9" x="300.51" y="74.49" width="78.64" height="3.32" />
                    <rect class="cls-9" x="300.2" y="142.71" width="79.41" height="3.44" />
                    <rect class="cls-9" x="300.1" y="211.6" width="79.3" height="2.81" />
                </g>
                <g id="corniceDecor">
                    <rect class="cls-17" x="303.57" y="17.81" width="21.7" height="7.4" />
                    <rect class="cls-17" x="328.85" y="17.55" width="22.72" height="7.91" />
                    <rect class="cls-17" x="354.64" y="17.81" width="21.96" height="7.4" />
                </g>
                <rect class="cls-18" x="312" y="32.62" width="19.88" height="41.62" />
                <rect class="cls-18" x="344.96" y="32.87" width="20.26" height="41.62" />
                <rect class="cls-18" x="312" y="97.52" width="21.08" height="44.05" />
                <rect class="cls-18" x="345.24" y="97.39" width="21.08" height="44.17" />
                <rect class="cls-18" x="314.36" y="169.88" width="20.48" height="41.53" />
                <rect class="cls-18" x="344.59" y="169.6" width="20.9" height="41.86" />
                <g id="doorFrame">
                    <rect class="cls-19" x="346.5" y="171.51" width="7.6" height="39.95" />
                    <rect class="cls-19" x="357.51" y="171.77" width="6.59" height="39.69" />
                </g>
                <g id="stairs-3" data-name="stairs">
                    <rect class="cls-9" x="343.03" y="212.36" width="24.36" height="26.04" />
                    <line class="cls-10" x1="346.69" y1="217.16" x2="363.32" y2="217.16" />
                    <line class="cls-10" x1="346.69" y1="220.26" x2="363.74" y2="220.26" />
                    <line class="cls-10" x1="346.69" y1="223.57" x2="363.32" y2="223.57" />
                    <line class="cls-10" x1="346.69" y1="226.68" x2="363.74" y2="226.68" />
                    <line class="cls-10" x1="346.69" y1="229.27" x2="363.32" y2="229.27" />
                    <line class="cls-10" x1="346.69" y1="232.38" x2="363.74" y2="232.38" />
                    <line class="cls-10" x1="346.69" y1="235.36" x2="363.74" y2="235.36" />
                </g>
            </g>
            <g id="fourthHouse">
                <rect id="mainBackground-4" data-name="mainBackground" class="cls-20" x="379.19" y="12.45" width="115.34"
                    height="225.98" />
                <g id="cornice-2" data-name="cornice">
                    <rect class="cls-15" x="378" y="3.64" width="118.72" height="8.81" />
                    <rect class="cls-21" x="376.28" width="121.98" height="3.89" />
                </g>
                <rect id="lowerFacade-2" data-name="lowerFacade" class="cls-22" x="379.17" y="210.25" width="115.07"
                    height="28.15" />
                <rect id="facadeDecor-2" data-name="facadeDecor" class="cls-23" x="379.13" y="206.23" width="115.3"
                    height="4.02" />
                <g id="facadeDecor-3" data-name="facadeDecor">
                    <rect class="cls-24" x="383.62" y="5.68" width="12" height="4.98" />
                    <rect class="cls-24" x="401.49" y="5.68" width="12.44" height="4.98" />
                    <rect class="cls-24" x="419.78" y="5.68" width="12.44" height="4.98" />
                    <rect class="cls-24" x="438.55" y="5.68" width="13.27" height="4.98" />
                    <rect class="cls-24" x="457.02" y="5.68" width="13.27" height="4.98" />
                    <rect class="cls-24" x="476.17" y="5.68" width="13.27" height="4.98" />
                </g>
                <g class id="windoFrameDecor">
                    <rect class="cls-25" x="392.55" y="19.72" width="36.38" height="2.49" />
                    <rect class="cls-26" x="394.85" y="22.21" width="32.74" height="3.26" />
                    <rect class="cls-25" x="442.91" y="20.39" width="36.38" height="2.49" />
                    <rect class="cls-26" x="445.21" y="22.88" width="32.74" height="3.26" />
                    <rect class="cls-25" x="392.36" y="76.88" width="36.38" height="2.49" />
                    <rect class="cls-26" x="394.66" y="79.37" width="32.74" height="3.26" />
                    <rect class="cls-25" x="442.72" y="77.07" width="36.38" height="2.49" />
                    <rect class="cls-26" x="445.02" y="79.56" width="32.74" height="3.26" />
                    <rect class="cls-25" x="391.98" y="136.44" width="36.38" height="2.49" />
                    <rect class="cls-26" x="394.28" y="138.93" width="32.74" height="3.26" />
                    <rect class="cls-25" x="442.34" y="136.05" width="36.38" height="2.49" />
                    <rect class="cls-26" x="444.64" y="138.54" width="32.74" height="3.26" />
                </g>
                <g id="outerWindowFrame">
                    <rect class="cls-25" x="398.3" y="25.66" width="26.23" height="41.94" />
                    <rect class="cls-25" x="449.14" y="26.23" width="26.23" height="41.94" />
                    <rect class="cls-25" x="398.25" y="82.63" width="26.23" height="41.94" />
                    <rect class="cls-25" x="448.71" y="83.01" width="26.23" height="41.94" />
                    <rect class="cls-25" x="398.2" y="142.08" width="26.23" height="41.94" />
                    <rect class="cls-25" x="447.32" y="141.89" width="28.91" height="64.38" />
                </g>
                <g id="windowFrame">
                    <rect class="cls-27" x="399.83" y="28.34" width="22.79" height="37.72" />
                    <rect class="cls-27" x="450.86" y="28.53" width="22.79" height="37.72" />
                    <rect class="cls-27" x="399.69" y="85.69" width="22.79" height="37.72" />
                    <rect class="cls-27" x="450.72" y="85.88" width="22.79" height="37.72" />
                    <rect class="cls-27" x="400.12" y="144.96" width="22.79" height="37.72" />
                    <rect class="cls-27" x="449.23" y="143.62" width="25.47" height="61.24" />
                </g>
                <g id="stairs-4" data-name="stairs">
                    <rect class="cls-9" x="444.57" y="207.1" width="35.17" height="31.56" />
                    <line class="cls-10" x1="449.85" y1="212.91" x2="473.86" y2="212.91" />
                    <line class="cls-10" x1="449.85" y1="216.67" x2="474.47" y2="216.67" />
                    <line class="cls-10" x1="449.85" y1="220.68" x2="473.86" y2="220.68" />
                    <line class="cls-10" x1="449.85" y1="224.45" x2="474.47" y2="224.45" />
                    <line class="cls-10" x1="449.85" y1="227.59" x2="473.86" y2="227.59" />
                    <line class="cls-10" x1="449.85" y1="231.36" x2="474.47" y2="231.36" />
                    <line class="cls-10" x1="449.85" y1="234.97" x2="474.47" y2="234.97" />
                </g>
            </g>

            <path class="cls-21" d="M702,486.77s1.82-9.95,9.58-10.12c0,0,7.42-1,9.31,10.12Z" transform="translate(-389.01 -389.3)" />
            <path class="cls-21" d="M735.73,486.67s1.74-9.85,9.17-10c0,0,7.09-1,8.89,10Z" transform="translate(-389.01 -389.3)" />
            <path class="cls-21" d="M704.33,559.24s1.82-9.52,9.58-9.68c0,0,7.42-1,9.31,9.68Z" transform="translate(-389.01 -389.3)" />
            <path class="cls-21" d="M734.71,558.77s1.82-9.76,9.59-9.93c0,0,7.41-1,9.3,9.93Z" transform="translate(-389.01 -389.3)" />
            <rect class="cls-21" x="348.03" y="174.73" width="4.82" height="34.04" />
            <rect class="cls-21" x="358.8" y="175.02" width="4.19" height="33.86" />

            <rect class="cls-28" x="450.96" y="145.53" width="22.4" height="11.49" />
            <rect class="cls-28" x="451.34" y="162" width="9.38" height="33.13" />
            <rect class="cls-28" x="464.17" y="162.19" width="8.43" height="33.13" />


            <path class="cls-30" d="M469.81,491.24s1.66-7.28,8.75-7.41c0,0,6.76-.76,8.49,7.41Z" transform="translate(-389.01 -389.3)" />
            <path class="cls-30" d="M505.18,491.08s1.66-7.27,8.75-7.4c0,0,6.76-.77,8.48,7.4Z" transform="translate(-389.01 -389.3)" />
            <path class="cls-30" d="M541,491.15s1.66-7.28,8.74-7.41c0,0,6.77-.76,8.49,7.41Z" transform="translate(-389.01 -389.3)" />
            <path class="cls-30" d="M470.27,549.14s1.66-7.28,8.74-7.41c0,0,6.77-.76,8.49,7.41Z" transform="translate(-389.01 -389.3)" />
            <path class="cls-30" d="M505.37,549.14s1.66-7.28,8.75-7.41c0,0,6.76-.76,8.49,7.41Z" transform="translate(-389.01 -389.3)" />
            <path class="cls-30" d="M539.61,547.73s1.66-7.27,8.74-7.4c0,0,6.77-.77,8.49,7.4Z" transform="translate(-389.01 -389.3)" />
            <rect class="cls-30" x="151.47" y="161.43" width="6.89" height="38.49" />
            <rect class="cls-30" x="160.85" y="161.23" width="7.28" height="38.68" />


            <rect class="cls-21" x="268.66" y="160.65" width="7.01" height="24.52" />
            <rect class="cls-21" x="278.12" y="160.37" width="7.01" height="24.52" />
            <rect class="cls-21" x="269.18" y="146.94" width="16.01" height="9.41" />

            <g id="_windows">
                <g class='window' id="window21">
                    <rect class="cls-28" x="401.74" y="29.97" width="4.69" height="6.99" />
                    <rect class="cls-28" x="409.07" y="29.97" width="4.69" height="6.99" />
                    <rect class="cls-28" x="416.06" y="29.87" width="4.69" height="6.99" />
                    <rect class="cls-28" x="401.82" y="39.49" width="4.69" height="6.99" />
                    <rect class="cls-28" x="409.14" y="39.49" width="4.69" height="6.99" />
                    <rect class="cls-28" x="416.13" y="39.4" width="4.69" height="6.99" />
                    <rect class="cls-28" x="401.72" y="48.59" width="4.69" height="6.99" />
                    <rect class="cls-28" x="409.04" y="48.59" width="4.69" height="6.99" />
                    <rect class="cls-28" x="416.03" y="48.49" width="4.69" height="6.99" />
                    <rect class="cls-28" x="401.72" y="57.59" width="4.69" height="6.99" />
                    <rect class="cls-28" x="409.04" y="57.59" width="4.69" height="6.99" />
                    <rect class="cls-28" x="416.03" y="57.49" width="4.69" height="6.99" />
                </g>

                <g class='window' id="window23">
                    <rect class="cls-28" x="401.6" y="87.44" width="4.69" height="6.99" />
                    <rect class="cls-28" x="408.92" y="87.44" width="4.69" height="6.99" />
                    <rect class="cls-28" x="415.91" y="87.34" width="4.69" height="6.99" />
                    <rect class="cls-28" x="401.67" y="96.97" width="4.69" height="6.99" />
                    <rect class="cls-28" x="409" y="96.97" width="4.69" height="6.99" />
                    <rect class="cls-28" x="415.99" y="96.87" width="4.69" height="6.99" />
                    <rect class="cls-28" x="401.58" y="106.06" width="4.69" height="6.99" />
                    <rect class="cls-28" x="408.9" y="106.06" width="4.69" height="6.99" />
                    <rect class="cls-28" x="415.89" y="105.97" width="4.69" height="6.99" />
                    <rect class="cls-28" x="401.58" y="115.06" width="4.69" height="6.99" />
                    <rect class="cls-28" x="408.9" y="115.06" width="4.69" height="6.99" />
                    <rect class="cls-28" x="415.89" y="114.97" width="4.69" height="6.99" />
                </g>
                <g class='window' id="window22">
                    <rect class="cls-28" x="452.92" y="30.57" width="4.69" height="6.99" />
                    <rect class="cls-28" x="460.24" y="30.57" width="4.69" height="6.99" />
                    <rect class="cls-28" x="467.23" y="30.47" width="4.69" height="6.99" />
                    <rect class="cls-28" x="452.99" y="40.09" width="4.69" height="6.99" />
                    <rect class="cls-28" x="460.32" y="40.09" width="4.69" height="6.99" />
                    <rect class="cls-28" x="467.3" y="40" width="4.69" height="6.99" />
                    <rect class="cls-28" x="452.9" y="49.19" width="4.69" height="6.99" />
                    <rect class="cls-28" x="460.22" y="49.19" width="4.69" height="6.99" />
                    <rect class="cls-28" x="467.21" y="49.09" width="4.69" height="6.99" />
                    <rect class="cls-28" x="452.9" y="58.19" width="4.69" height="6.99" />
                    <rect class="cls-28" x="460.22" y="58.19" width="4.69" height="6.99" />
                    <rect class="cls-28" x="467.21" y="58.09" width="4.69" height="6.99" />
                </g>

                <g class='window' id="window24">
                    <rect class="cls-28" x="452.73" y="87.63" width="4.69" height="6.99" />
                    <rect class="cls-28" x="460.05" y="87.63" width="4.69" height="6.99" />
                    <rect class="cls-28" x="467.04" y="87.53" width="4.69" height="6.99" />
                    <rect class="cls-28" x="452.8" y="97.16" width="4.69" height="6.99" />
                    <rect class="cls-28" x="460.12" y="97.16" width="4.69" height="6.99" />
                    <rect class="cls-28" x="467.11" y="97.06" width="4.69" height="6.99" />
                    <rect class="cls-28" x="452.7" y="106.25" width="4.69" height="6.99" />
                    <rect class="cls-28" x="460.03" y="106.25" width="4.69" height="6.99" />
                    <rect class="cls-28" x="467.02" y="106.16" width="4.69" height="6.99" />
                    <rect class="cls-28" x="452.7" y="115.25" width="4.69" height="6.99" />
                    <rect class="cls-28" x="460.03" y="115.25" width="4.69" height="6.99" />
                    <rect class="cls-28" x="467.02" y="115.16" width="4.69" height="6.99" />
                </g>
                <g class='window' id="window25">
                    <rect class="cls-28" x="402.37" y="146.75" width="4.69" height="6.99" />
                    <rect class="cls-28" x="409.69" y="146.75" width="4.69" height="6.99" />
                    <rect class="cls-28" x="416.68" y="146.66" width="4.69" height="6.99" />
                    <rect class="cls-28" x="402.44" y="156.28" width="4.69" height="6.99" />
                    <rect class="cls-28" x="409.76" y="156.28" width="4.69" height="6.99" />
                    <rect class="cls-28" x="416.75" y="156.18" width="4.69" height="6.99" />
                    <rect class="cls-28" x="402.34" y="165.37" width="4.69" height="6.99" />
                    <rect class="cls-28" x="409.67" y="165.37" width="4.69" height="6.99" />
                    <rect class="cls-28" x="416.66" y="165.28" width="4.69" height="6.99" />
                    <rect class="cls-28" x="402.34" y="174.37" width="4.69" height="6.99" />
                    <rect class="cls-28" x="409.67" y="174.37" width="4.69" height="6.99" />
                    <rect class="cls-28" x="416.66" y="174.28" width="4.69" height="6.99" />
                </g>

                <g class='window' id="window16">
                    <rect class="cls-21" x="313.34" y="34.7" width="7.33" height="10.75" />
                    <rect class="cls-21" x="323.24" y="34.4" width="7.33" height="10.75" />
                    <rect class="cls-21" x="313.34" y="48.2" width="7.33" height="10.75" />
                    <rect class="cls-21" x="323.24" y="48.09" width="7.33" height="10.75" />
                    <rect class="cls-21" x="313.34" y="62.42" width="7.33" height="10.75" />
                    <rect class="cls-21" x="323.24" y="62.3" width="7.33" height="10.75" />
                </g>
                <g class='window' id="window17">
                    <rect class="cls-21" x="346.53" y="34.85" width="7.33" height="10.75" />
                    <rect class="cls-21" x="356.43" y="34.55" width="7.33" height="10.75" />
                    <rect class="cls-21" x="346.53" y="48.35" width="7.33" height="10.75" />
                    <rect class="cls-21" x="356.43" y="48.23" width="7.33" height="10.75" />
                    <rect class="cls-21" x="346.53" y="62.57" width="7.33" height="10.75" />
                    <rect class="cls-21" x="356.43" y="62.45" width="7.33" height="10.75" />
                </g>
                <g class='window' id="window18">
                    <rect class="cls-21" x="314.11" y="99.47" width="7.33" height="11.64" />
                    <rect class="cls-21" x="324.01" y="99.15" width="7.33" height="11.64" />
                    <rect class="cls-21" x="314.11" y="114.09" width="7.33" height="11.64" />
                    <rect class="cls-21" x="324.01" y="113.96" width="7.33" height="11.64" />
                    <rect class="cls-21" x="314.11" y="128.47" width="7.33" height="11.78" />
                    <rect class="cls-21" x="324.01" y="128.34" width="7.33" height="11.84" />
                </g>
                <g class='window' id="window19">
                    <rect class="cls-21" x="347.3" y="99.14" width="7.33" height="11.64" />
                    <rect class="cls-21" x="357.2" y="98.82" width="7.33" height="11.64" />
                    <rect class="cls-21" x="347.3" y="113.76" width="7.33" height="11.64" />
                    <rect class="cls-21" x="357.2" y="113.63" width="7.33" height="11.64" />
                    <rect class="cls-21" x="347.3" y="128.16" width="7.33" height="12.05" />
                    <rect class="cls-21" x="357.2" y="128.03" width="7.33" height="12.23" />
                </g>
                <g class='window' id="window20">
                    <rect class="cls-21" x="316.4" y="171.88" width="7.33" height="10.81" />
                    <rect class="cls-21" x="326.3" y="171.58" width="7.33" height="10.81" />
                    <rect class="cls-21" x="316.4" y="185.46" width="7.33" height="10.81" />
                    <rect class="cls-21" x="326.3" y="185.34" width="7.33" height="10.81" />
                    <rect class="cls-21" x="316.4" y="199.76" width="7.33" height="10.81" />
                    <rect class="cls-21" x="326.3" y="199.64" width="7.33" height="10.81" />
                </g>

                <g class='window' id="window10">
                    <rect class="cls-21" x="199.34" y="75.54" width="7.33" height="11.24" />
                    <rect class="cls-21" x="209.24" y="75.23" width="7.33" height="11.24" />
                    <rect class="cls-21" x="199.34" y="89.65" width="7.33" height="11.24" />
                    <rect class="cls-21" x="209.24" y="89.53" width="7.33" height="11.24" />
                    <rect class="cls-21" x="199.34" y="104.52" width="7.33" height="11.24" />
                    <rect class="cls-21" x="209.24" y="104.39" width="7.33" height="11.24" />
                </g>
                <g class='window' id="window11">
                    <rect class="cls-21" x="234.48" y="75.17" width="7.33" height="11.24" />
                    <rect class="cls-21" x="244.38" y="74.86" width="7.33" height="11.24" />
                    <rect class="cls-21" x="234.48" y="89.28" width="7.33" height="11.24" />
                    <rect class="cls-21" x="244.38" y="89.16" width="7.33" height="11.24" />
                    <rect class="cls-21" x="234.48" y="104.14" width="7.33" height="11.24" />
                    <rect class="cls-21" x="244.38" y="104.02" width="7.33" height="11.24" />
                </g>
                <g class='window' id="window12">
                    <rect class="cls-21" x="268.28" y="75.27" width="7.33" height="11.24" />
                    <rect class="cls-21" x="278.18" y="74.96" width="7.33" height="11.24" />
                    <rect class="cls-21" x="268.28" y="89.38" width="7.33" height="11.24" />
                    <rect class="cls-21" x="278.18" y="89.25" width="7.33" height="11.24" />
                    <rect class="cls-21" x="268.28" y="104.24" width="7.33" height="11.24" />
                    <rect class="cls-21" x="278.18" y="104.12" width="7.33" height="11.24" />
                </g>
                <g class='window' id="window13">
                    <rect class="cls-21" x="199.47" y="148.82" width="7.33" height="11.24" />
                    <rect class="cls-21" x="209.37" y="148.5" width="7.33" height="11.24" />
                    <rect class="cls-21" x="199.47" y="162.93" width="7.33" height="11.24" />
                    <rect class="cls-21" x="209.37" y="162.8" width="7.33" height="11.24" />
                    <rect class="cls-21" x="199.47" y="177.79" width="7.33" height="11.24" />
                    <rect class="cls-21" x="209.37" y="177.66" width="7.33" height="11.24" />
                </g>
                <g class='window' id="window14">
                    <rect class="cls-21" x="234.7" y="148.94" width="7.33" height="11.24" />
                    <rect class="cls-21" x="244.6" y="148.63" width="7.33" height="11.24" />
                    <rect class="cls-21" x="234.7" y="163.06" width="7.33" height="11.24" />
                    <rect class="cls-21" x="244.6" y="162.93" width="7.33" height="11.24" />
                    <rect class="cls-21" x="234.7" y="177.92" width="7.33" height="11.24" />
                    <rect class="cls-21" x="244.6" y="177.79" width="7.33" height="11.24" />
                </g>
                <g class='window' id="window15">
                    <rect class="cls-21" x="235.72" y="205.22" width="7.33" height="12.14" />
                    <rect class="cls-21" x="245.62" y="205.09" width="7.33" height="12.14" />
                    <rect class="cls-21" x="235.72" y="221.28" width="7.33" height="12.14" />
                    <rect class="cls-21" x="245.62" y="221.15" width="7.33" height="12.14" />
                    <rect class="cls-21" x="200.68" y="205.51" width="7.33" height="12.14" />
                    <rect class="cls-21" x="210.58" y="205.37" width="7.33" height="12.14" />
                    <rect class="cls-21" x="200.68" y="221.57" width="7.33" height="12.14" />
                    <rect class="cls-21" x="210.58" y="221.43" width="7.33" height="12.14" />
                </g>

                <g class='window' id="window1">
                    <rect class="cls-29" x="79.66" y="44.23" width="7.66" height="8.62" />
                    <rect class="cls-29" x="90" y="43.99" width="7.66" height="8.62" />
                    <rect class="cls-29" x="79.66" y="55.05" width="7.66" height="8.62" />
                    <rect class="cls-29" x="90" y="54.96" width="7.66" height="8.62" />
                    <rect class="cls-29" x="79.66" y="66.45" width="7.66" height="8.62" />
                    <rect class="cls-29" x="90" y="66.35" width="7.66" height="8.62" />
                </g>
                <g class='window' id="window2">
                    <rect class="cls-29" x="115.56" y="44.31" width="7.66" height="8.62" />
                    <rect class="cls-29" x="125.9" y="44.07" width="7.66" height="8.62" />
                    <rect class="cls-29" x="115.56" y="55.12" width="7.66" height="8.62" />
                    <rect class="cls-29" x="125.9" y="55.03" width="7.66" height="8.62" />
                    <rect class="cls-29" x="115.56" y="66.52" width="7.66" height="8.62" />
                    <rect class="cls-29" x="125.9" y="66.42" width="7.66" height="8.62" />
                </g>
                <g class='window' id="window3">
                    <rect class="cls-29" x="151.76" y="44.31" width="7.66" height="8.62" />
                    <rect class="cls-29" x="162.1" y="44.07" width="7.66" height="8.62" />
                    <rect class="cls-29" x="151.76" y="55.12" width="7.66" height="8.62" />
                    <rect class="cls-29" x="162.1" y="55.03" width="7.66" height="8.62" />
                    <rect class="cls-29" x="151.76" y="66.52" width="7.66" height="8.62" />
                    <rect class="cls-29" x="162.1" y="66.42" width="7.66" height="8.62" />
                </g>
                <g class='window' id="window4">
                    <rect class="cls-29" x="80.33" y="105.49" width="7.66" height="8.62" />
                    <rect class="cls-29" x="90.67" y="105.25" width="7.66" height="8.62" />
                    <rect class="cls-29" x="80.33" y="116.31" width="7.66" height="8.62" />
                    <rect class="cls-29" x="90.67" y="116.21" width="7.66" height="8.62" />
                    <rect class="cls-29" x="80.33" y="127.7" width="7.66" height="8.62" />
                    <rect class="cls-29" x="90.67" y="127.6" width="7.66" height="8.62" />
                </g>
                <g class='window' id="window5">
                    <rect class="cls-29" x="116.04" y="105.68" width="7.66" height="8.62" />
                    <rect class="cls-29" x="126.38" y="105.44" width="7.66" height="8.62" />
                    <rect class="cls-29" x="116.04" y="116.5" width="7.66" height="8.62" />
                    <rect class="cls-29" x="126.38" y="116.4" width="7.66" height="8.62" />
                    <rect class="cls-29" x="116.04" y="127.89" width="7.66" height="8.62" />
                    <rect class="cls-29" x="126.38" y="127.79" width="7.66" height="8.62" />
                </g>
                <g class='window' id="window6">
                    <rect class="cls-29" x="151.56" y="105.3" width="7.66" height="8.62" />
                    <rect class="cls-29" x="161.9" y="105.06" width="7.66" height="8.62" />
                    <rect class="cls-29" x="151.56" y="116.11" width="7.66" height="8.62" />
                    <rect class="cls-29" x="161.9" y="116.02" width="7.66" height="8.62" />
                    <rect class="cls-29" x="151.56" y="127.51" width="7.66" height="8.62" />
                    <rect class="cls-29" x="161.9" y="127.41" width="7.66" height="8.62" />
                </g>
                <g class='window' id="window7">
                    <rect class="cls-29" x="81" y="163.43" width="7.66" height="8.62" />
                    <rect class="cls-29" x="91.34" y="163.19" width="7.66" height="8.62" />
                    <rect class="cls-29" x="81" y="174.25" width="7.66" height="8.62" />
                    <rect class="cls-29" x="91.34" y="174.15" width="7.66" height="8.62" />
                    <rect class="cls-29" x="81" y="185.64" width="7.66" height="8.62" />
                    <rect class="cls-29" x="91.34" y="185.54" width="7.66" height="8.62" />
                    <rect class="cls-29" x="81" y="196.29" width="7.66" height="8.62" />
                    <rect class="cls-29" x="91.34" y="196.2" width="7.66" height="8.62" />
                </g>
                <g class='window' id="window8">
                    <rect class="cls-29" x="115.98" y="163.17" width="7.66" height="8.62" />
                    <rect class="cls-29" x="126.32" y="162.93" width="7.66" height="8.62" />
                    <rect class="cls-29" x="115.98" y="173.99" width="7.66" height="8.62" />
                    <rect class="cls-29" x="126.32" y="173.9" width="7.66" height="8.62" />
                    <rect class="cls-29" x="115.98" y="185.39" width="7.66" height="8.62" />
                    <rect class="cls-29" x="126.32" y="185.29" width="7.66" height="8.62" />
                    <rect class="cls-29" x="115.98" y="196.68" width="7.66" height="8.62" />
                    <rect class="cls-29" x="126.32" y="196.58" width="7.66" height="8.62" />
                </g>
                <g class='window' id="window9">
                    <rect class="cls-29" x="115.08" y="215.99" width="7.66" height="8.62" />
                    <rect class="cls-29" x="125.4" y="215.89" width="7.66" height="8.62" />
                    <rect class="cls-29" x="80.49" y="227.41" width="7.66" height="8.62" />
                    <rect class="cls-29" x="90.83" y="227.31" width="7.66" height="8.62" />
                    <rect class="cls-29" x="115.08" y="227.28" width="7.66" height="8.62" />
                    <rect class="cls-29" x="125.4" y="227.18" width="7.66" height="8.62" />
                    <rect class="cls-29" x="80.49" y="216.46" width="7.66" height="8.62" />
                    <rect class="cls-29" x="90.83" y="216.37" width="7.66" height="8.62" />
                </g>

            </g>


            <g id="fence">
                <rect class="cls-10" x="476.17" y="232.53" width="22.72" height="16.34" />
                <rect class="cls-31" x="381.45" y="234.77" width="65.3" height="12.06" />
                <rect class="cls-10" x="287.04" y="232.47" width="88.47" height="16.47" />
                <rect class="cls-10" x="190.34" y="231.89" width="72" height="17.23" />
                <rect x="259.72" y="230.36" width="4.09" height="2.68" />
                <rect x="224.74" y="230.49" width="3.89" height="3.19" />
                <rect x="189.25" y="230.68" width="3.77" height="3.19" />
                <rect x="189.25" y="247.53" width="4.21" height="3.7" />
                <rect x="224.54" y="247.66" width="5.05" height="3.57" />
                <rect x="259.66" y="247.6" width="5.03" height="3.7" />
                <rect x="260.94" y="232.21" width="1.98" height="15.57" />
                <rect x="261.06" y="228" width="1.53" height="2.81" />
                <rect x="225.83" y="228.13" width="1.66" height="2.87" />
                <rect x="225.57" y="232.98" width="2.55" height="15.83" />
                <rect x="190.4" y="228.64" width="1.47" height="3.19" />
                <line class="cls-10" x1="190.28" y1="246.64" x2="262.15" y2="246.64" />
                <line class="cls-10" x1="255.96" y1="231.57" x2="255.96" y2="249.13" />
                <line class="cls-10" x1="190.28" y1="234.77" x2="261.57" y2="234.77" />
                <line class="cls-10" x1="196.15" y1="232.02" x2="196.15" y2="248.81" />
                <line class="cls-10" x1="201.19" y1="232.02" x2="201.19" y2="249.13" />
                <line class="cls-10" x1="205.28" y1="231.83" x2="205.28" y2="249.19" />
                <line class="cls-10" x1="210.19" y1="231.83" x2="210.19" y2="249.32" />
                <line class="cls-10" x1="215.17" y1="232.18" x2="215.17" y2="248.97" />
                <line class="cls-10" x1="220.21" y1="232.18" x2="220.21" y2="249.29" />
                <line class="cls-10" x1="236.17" y1="231.99" x2="236.17" y2="249.35" />
                <line class="cls-10" x1="232.02" y1="231.8" x2="232.02" y2="249.29" />
                <line class="cls-10" x1="241.34" y1="232.31" x2="241.34" y2="249.1" />
                <line class="cls-10" x1="246.38" y1="232.31" x2="246.38" y2="249.41" />
                <line class="cls-10" x1="250.47" y1="232.12" x2="250.47" y2="249.48" />
                <rect x="285.77" y="248.43" width="4.72" height="3" />
                <rect x="286.08" y="231.19" width="4.21" height="17.81" />
                <rect x="286.72" y="229.08" width="3" height="2.62" />
                <rect x="302.04" y="230.04" width="3.83" height="2.87" />
                <rect x="301.72" y="248.3" width="4.45" height="3" />
                <rect x="302.81" y="231.7" width="2.17" height="17.17" />
                <rect x="337.6" y="247.21" width="4.53" height="3.96" />
                <rect x="338.3" y="232.4" width="3.06" height="15.77" />
                <rect x="337.85" y="229.47" width="3.96" height="3.32" />
                <rect x="372.77" y="230.3" width="4.28" height="2.81" />
                <rect x="373.4" y="232.72" width="3.06" height="16.15" />
                <rect x="372.57" y="247.28" width="4.91" height="3.89" />
                <line class="cls-10" x1="324.1" y1="232.39" x2="324.1" y2="249.02" />
                <line class="cls-10" x1="309.48" y1="232.2" x2="309.48" y2="248.98" />
                <line class="cls-10" x1="314.52" y1="232.2" x2="314.52" y2="249.3" />
                <line class="cls-10" x1="318.61" y1="232" x2="318.61" y2="249.37" />
                <line class="cls-10" x1="334.02" y1="232.66" x2="334.02" y2="248.88" />
                <line class="cls-10" x1="328.53" y1="232.28" x2="328.53" y2="249.22" />
                <line class="cls-10" x1="349.87" y1="232.44" x2="349.87" y2="249.06" />
                <line class="cls-10" x1="344.38" y1="232.05" x2="344.38" y2="249.41" />
                <line class="cls-10" x1="359.79" y1="232.7" x2="359.79" y2="248.93" />
                <line class="cls-10" x1="354.3" y1="232.32" x2="354.3" y2="249.27" />
                <line class="cls-10" x1="368.94" y1="232.51" x2="368.94" y2="248.74" />
                <line class="cls-10" x1="363.45" y1="232.13" x2="363.45" y2="249.08" />
                <line class="cls-10" x1="292.95" y1="232.05" x2="292.95" y2="248.84" />
                <line class="cls-10" x1="297.99" y1="232.05" x2="297.99" y2="249.16" />
                <line class="cls-10" x1="289.44" y1="234.57" x2="374.36" y2="234.57" />
                <line class="cls-10" x1="289.44" y1="246.83" x2="375.03" y2="246.83" />
                <rect class="cls-10" x="381.84" y="231.8" width="72" height="17.23" />
                <rect x="451.22" y="230.27" width="4.09" height="2.68" />
                <rect x="416.24" y="230.39" width="3.89" height="3.19" />
                <rect x="380.75" y="230.58" width="3.77" height="3.19" />
                <rect x="380.75" y="247.44" width="4.21" height="3.7" />
                <rect x="416.04" y="247.56" width="5.05" height="3.57" />
                <rect x="451.15" y="247.5" width="5.03" height="3.7" />
                <rect x="452.43" y="232.12" width="1.98" height="15.57" />
                <rect x="452.56" y="227.9" width="1.53" height="2.81" />
                <rect x="417.32" y="228.03" width="1.66" height="2.87" />
                <rect x="417.07" y="232.88" width="2.55" height="15.83" />
                <rect x="381.9" y="228.54" width="1.47" height="3.19" />
                <line class="cls-10" x1="381.77" y1="246.54" x2="453.64" y2="246.54" />
                <line class="cls-10" x1="447.45" y1="231.48" x2="447.45" y2="249.03" />
                <line class="cls-10" x1="381.77" y1="234.67" x2="453.07" y2="234.67" />
                <line class="cls-10" x1="387.64" y1="231.93" x2="387.64" y2="248.71" />
                <line class="cls-10" x1="392.69" y1="231.93" x2="392.69" y2="249.03" />
                <line class="cls-10" x1="396.77" y1="231.73" x2="396.77" y2="249.1" />
                <line class="cls-10" x1="401.69" y1="231.73" x2="401.69" y2="249.22" />
                <line class="cls-10" x1="406.66" y1="232.08" x2="406.66" y2="248.87" />
                <line class="cls-10" x1="411.71" y1="232.08" x2="411.71" y2="249.19" />
                <line class="cls-10" x1="427.66" y1="231.89" x2="427.66" y2="249.25" />
                <line class="cls-10" x1="423.52" y1="231.7" x2="423.52" y2="249.19" />
                <line class="cls-10" x1="432.84" y1="232.21" x2="432.84" y2="249" />
                <line class="cls-10" x1="437.88" y1="232.21" x2="437.88" y2="249.32" />
                <line class="cls-10" x1="441.96" y1="232.02" x2="441.96" y2="249.38" />
                <rect class="cls-10" x="62.22" y="230.88" width="74.99" height="17.56" />
                <rect x="134.49" y="229.32" width="4.25" height="2.73" />
                <rect x="98.05" y="229.45" width="4.06" height="3.25" />
                <rect x="61.09" y="229.65" width="3.92" height="3.25" />
                <rect x="61.09" y="246.82" width="4.39" height="3.77" />
                <rect x="97.84" y="246.95" width="5.26" height="3.64" />
                <rect x="134.42" y="246.89" width="5.24" height="3.77" />
                <rect x="135.75" y="231.21" width="2.06" height="15.87" />
                <rect x="135.88" y="226.91" width="1.6" height="2.86" />
                <rect x="99.18" y="227.04" width="1.73" height="2.93" />
                <rect x="98.92" y="231.99" width="2.66" height="16.13" />
                <rect x="62.29" y="227.56" width="1.53" height="3.25" />
                <line class="cls-10" x1="62.15" y1="245.91" x2="137.01" y2="245.91" />
                <line class="cls-10" x1="130.56" y1="230.56" x2="130.56" y2="248.45" />
                <line class="cls-10" x1="62.15" y1="233.81" x2="136.41" y2="233.81" />
                <line class="cls-10" x1="68.27" y1="231.01" x2="68.27" y2="248.12" />
                <line class="cls-10" x1="73.52" y1="231.01" x2="73.52" y2="248.45" />
                <line class="cls-10" x1="77.78" y1="230.82" x2="77.78" y2="248.51" />
                <line class="cls-10" x1="82.9" y1="230.82" x2="82.9" y2="248.64" />
                <line class="cls-10" x1="88.08" y1="231.18" x2="88.08" y2="248.28" />
                <line class="cls-10" x1="93.33" y1="231.18" x2="93.33" y2="248.61" />
                <line class="cls-10" x1="109.95" y1="230.98" x2="109.95" y2="248.67" />
                <line class="cls-10" x1="105.63" y1="230.79" x2="105.63" y2="248.61" />
                <line class="cls-10" x1="115.34" y1="231.31" x2="115.34" y2="248.41" />
                <line class="cls-10" x1="120.59" y1="231.31" x2="120.59" y2="248.74" />
                <line class="cls-10" x1="124.85" y1="231.11" x2="124.85" y2="248.81" />
                <rect x="475.53" y="229.34" width="2.62" height="3.19" />
                <rect x="474.89" y="248.74" width="3.89" height="2.36" />
                <rect x="475.21" y="231.96" width="3" height="17.23" />
                <rect x="497.68" y="229.91" width="2.3" height="2.68" />
                <rect x="497.42" y="247.76" width="3.26" height="3.35" />
                <rect x="497.87" y="232.02" width="1.91" height="15.96" />
                <line class="cls-10" x1="480.32" y1="232.85" x2="480.32" y2="248.87" />
                <line class="cls-10" x1="484.91" y1="232.66" x2="484.91" y2="248.87" />
                <line class="cls-10" x1="489.83" y1="232.79" x2="489.83" y2="248.74" />
                <line class="cls-10" x1="494.55" y1="232.6" x2="494.55" y2="248.87" />
                <line class="cls-10" x1="477.32" y1="235.53" x2="498.89" y2="235.53" />
                <line class="cls-10" x1="477.57" y1="246.57" x2="499.21" y2="246.57" />
            </g>
            <g id="trees">
                <ellipse class="cls-32" cx="511.66" cy="192.83" rx="25.66" ry="33.32" />
                <ellipse class="cls-33" cx="514.72" cy="197.04" rx="19.53" ry="28.72" />
                <ellipse class="cls-34" cx="494.68" cy="227.3" rx="15.45" ry="19.28" />
                <ellipse class="cls-35" cx="73.47" cy="211.58" rx="19.53" ry="27.88" />
                <ellipse class="cls-36" cx="36.26" cy="205.85" rx="25.79" ry="37.15" />
                <g id="benches">
                    <path class="cls-37" d="M905.83,635.56V564.13s.2-1.34.77.1l3.06,71.71s-2.2,2.39-3.54-.19" transform="translate(-389.01 -389.3)" />
                    <line class="cls-38" x1="509.36" y1="181.91" x2="517.59" y2="189.38" />
                    <line class="cls-38" x1="524.49" y1="182.3" x2="517.95" y2="192.71" />
                    <line class="cls-38" x1="532.15" y1="193.6" x2="518.38" y2="207.89" />
                    <line class="cls-38" x1="528.7" y1="185.94" x2="528.22" y2="197.69" />
                    <line class="cls-38" x1="534.25" y1="197.81" x2="526.74" y2="199.05" />
                    <line class="cls-38" x1="526.98" y1="205.08" x2="523.77" y2="208.2" />
                    <line class="cls-38" x1="524.44" y1="213.63" x2="523.91" y2="207.77" />
                    <line class="cls-38" x1="528.89" y1="208.91" x2="524.11" y2="213.7" />
                    <line class="cls-38" x1="531.19" y1="211.21" x2="524.68" y2="213.89" />
                    <line class="cls-38" x1="518.94" y1="216.57" x2="524.68" y2="213.89" />
                    <line class="cls-38" x1="506.11" y1="189" x2="517.4" y2="203.36" />
                    <line class="cls-38" x1="502.85" y1="196.66" x2="510.8" y2="200.7" />
                    <line class="cls-38" x1="515.49" y1="200.49" x2="510.51" y2="200.68" />
                    <line class="cls-38" x1="517.33" y1="215.04" x2="510.7" y2="212.55" />
                    <line class="cls-38" x1="504.19" y1="206.23" x2="510.7" y2="212.55" />
                    <line class="cls-38" x1="509.74" y1="205.66" x2="513.48" y2="209.58" />
                    <line class="cls-38" x1="513.38" y1="213.7" x2="513.38" y2="209.3" />
                    <line class="cls-38" x1="501.89" y1="209.11" x2="508.04" y2="213.37" />
                    <line class="cls-38" x1="511.37" y1="212.74" x2="507.64" y2="213.32" />
                </g>
                <g id="benches-2" data-name="benches">
                    <path class="cls-37" d="M883.7,649.75v-48s.12-.9.5.06l2,48.2s-1.45,1.61-2.33-.13" transform="translate(-389.01 -389.3)" />
                    <line class="cls-38" x1="489.77" y1="217.21" x2="495.2" y2="222.23" />
                    <line class="cls-38" x1="499.74" y1="217.46" x2="495.43" y2="224.46" />
                    <line class="cls-38" x1="504.78" y1="225.06" x2="495.72" y2="234.66" />
                    <line class="cls-38" x1="502.51" y1="219.91" x2="502.2" y2="227.81" />
                    <line class="cls-38" x1="506.17" y1="227.89" x2="501.22" y2="228.73" />
                    <line class="cls-38" x1="501.38" y1="232.78" x2="499.26" y2="234.87" />
                    <line class="cls-38" x1="499.71" y1="238.52" x2="499.36" y2="234.58" />
                    <line class="cls-38" x1="502.64" y1="235.35" x2="499.49" y2="238.57" />
                    <line class="cls-38" x1="504.15" y1="236.9" x2="499.86" y2="238.7" />
                    <line class="cls-38" x1="496.08" y1="240.5" x2="499.86" y2="238.7" />
                    <line class="cls-38" x1="487.63" y1="221.97" x2="495.07" y2="231.62" />
                    <line class="cls-38" x1="485.49" y1="227.12" x2="490.72" y2="229.84" />
                    <line class="cls-38" x1="493.81" y1="229.69" x2="490.53" y2="229.82" />
                    <line class="cls-38" x1="495.02" y1="239.47" x2="490.66" y2="237.8" />
                    <line class="cls-38" x1="486.37" y1="233.55" x2="490.66" y2="237.8" />
                    <line class="cls-38" x1="490.03" y1="233.16" x2="492.49" y2="235.8" />
                    <line class="cls-38" x1="492.42" y1="238.57" x2="492.42" y2="235.61" />
                    <line class="cls-38" x1="484.86" y1="235.48" x2="488.91" y2="238.34" />
                    <line class="cls-38" x1="491.1" y1="237.93" x2="488.64" y2="238.31" />
                </g>
                <g id="benches-3" data-name="benches">
                    <path class="cls-37" d="M424.83,642.82V583s.22-1.12.88.08l3.5,60.07s-2.52,2-4-.16" transform="translate(-389.01 -389.3)" />
                    <line class="cls-38" x1="27.3" y1="199.62" x2="36.7" y2="205.88" />
                    <line class="cls-38" x1="44.57" y1="199.94" x2="37.11" y2="208.67" />
                    <line class="cls-38" x1="53.32" y1="209.41" x2="37.6" y2="221.38" />
                    <line class="cls-38" x1="49.39" y1="202.99" x2="48.84" y2="212.84" />
                    <line class="cls-38" x1="55.73" y1="212.94" x2="47.14" y2="213.98" />
                    <line class="cls-38" x1="47.42" y1="219.03" x2="43.75" y2="221.64" />
                    <line class="cls-38" x1="44.52" y1="226.19" x2="43.92" y2="221.28" />
                    <line class="cls-38" x1="49.6" y1="222.24" x2="44.14" y2="226.25" />
                    <line class="cls-38" x1="52.23" y1="224.16" x2="44.79" y2="226.41" />
                    <line class="cls-38" x1="38.23" y1="228.66" x2="44.79" y2="226.41" />
                    <line class="cls-38" x1="23.58" y1="205.56" x2="36.48" y2="217.59" />
                    <line class="cls-38" x1="19.86" y1="211.97" x2="28.94" y2="215.36" />
                    <line class="cls-38" x1="34.29" y1="215.18" x2="28.61" y2="215.34" />
                    <line class="cls-38" x1="36.4" y1="227.37" x2="28.83" y2="225.29" />
                    <line class="cls-38" x1="21.39" y1="219.99" x2="28.83" y2="225.29" />
                    <line class="cls-38" x1="27.73" y1="219.51" x2="32" y2="222.8" />
                    <line class="cls-38" x1="31.89" y1="226.25" x2="31.89" y2="222.56" />
                    <line class="cls-38" x1="18.77" y1="222.4" x2="25.79" y2="225.97" />
                    <line class="cls-38" x1="29.59" y1="225.45" x2="25.33" y2="225.93" />
                </g>
                <g id="benches-4" data-name="benches">
                    <path class="cls-37" d="M461.2,644.57V584.74s.22-1.12.87.08l3.5,60.07s-2.51,2-4-.16" transform="translate(-389.01 -389.3)" />
                    <line class="cls-38" x1="63.66" y1="201.38" x2="73.07" y2="207.63" />
                    <line class="cls-38" x1="80.94" y1="201.7" x2="73.48" y2="210.42" />
                    <line class="cls-38" x1="89.69" y1="211.16" x2="73.97" y2="223.13" />
                    <line class="cls-38" x1="85.75" y1="204.74" x2="85.21" y2="214.59" />
                    <line class="cls-38" x1="92.1" y1="214.69" x2="83.51" y2="215.73" />
                    <line class="cls-38" x1="83.79" y1="220.78" x2="80.12" y2="223.39" />
                    <line class="cls-38" x1="80.89" y1="227.94" x2="80.29" y2="223.03" />
                    <line class="cls-38" x1="85.97" y1="223.99" x2="80.5" y2="228" />
                    <line class="cls-38" x1="88.6" y1="225.92" x2="81.16" y2="228.16" />
                    <line class="cls-38" x1="74.6" y1="230.41" x2="81.16" y2="228.16" />
                    <line class="cls-38" x1="59.95" y1="207.31" x2="72.85" y2="219.34" />
                    <line class="cls-38" x1="56.23" y1="213.73" x2="65.3" y2="217.11" />
                    <line class="cls-38" x1="70.66" y1="216.93" x2="64.98" y2="217.09" />
                    <line class="cls-38" x1="72.77" y1="229.12" x2="65.19" y2="227.04" />
                    <line class="cls-38" x1="57.76" y1="221.75" x2="65.19" y2="227.04" />
                    <line class="cls-38" x1="64.1" y1="221.27" x2="68.37" y2="224.55" />
                    <line class="cls-38" x1="68.26" y1="228" x2="68.26" y2="224.31" />
                    <line class="cls-38" x1="55.13" y1="224.15" x2="62.16" y2="227.72" />
                    <line class="cls-38" x1="65.96" y1="227.2" x2="61.69" y2="227.68" />
                </g>
            </g>
            <g id="peopleanddog">
                <polygon class="cls-39" points="464.07 231.51 465.03 233.23 464.74 234.76 464.74 236.68 463.21 236.87 462.54 236.68 461.78 237.54 461.3 239.07 459.38 238.88 459.67 235.53 459.57 234.29 459.57 232.75 462.25 230.74 464.07 231.51" />
                <polygon class="cls-40" points="469.24 260.04 470.2 261 470.58 262.34 470.39 264.54 469.53 265.21 469.44 264.16 467.81 263.78 467.9 262.24 467.43 260.71 467.62 258.99 469.24 260.04" />
                <polygon class="cls-41" points="468.67 281.97 471.93 281.97 472.79 283.12 475.18 283.98 476.71 284.26 476.33 285.32 474.03 285.32 469.05 285.13 468 283.31 468.67 281.97" />
                <polygon class="cls-42" points="444.45 281.2 446.65 283.6 447.51 285.03 447.41 286.66 448.08 288.29 447.41 289.34 446.55 288.19 443.39 284.94 443.2 282.93 444.45 281.2" />
                <polygon class="cls-43" points="462.16 232.56 463.69 231.89 464.74 231.7 465.61 231.51 464.36 229.5 462.73 228.35 460.24 227.59 458.23 228.54 457.56 230.07 457.75 231.61 457.56 232.95 458.33 234 458.62 234.86 459 235.24 460.72 233.33 462.16 232.56" />
                <path class="cls-44" d="M852.41,630.87l-.19-2.59s-4.31-3.16-5.94-.09l-1.34,3.44-.77,5.27.2,6.22-.29,1,4.4.58,2.68-.1,1.92-.19,2.49,4.69.86.86,1.63-.09.57-1.25-5.84-9.38Z"
                    transform="translate(-389.01 -389.3)" />
                <polygon class="cls-45" points="456.99 254.49 454.88 255.25 454.6 257.84 453.93 266.46 443.68 281.01 445.12 283.4 447.51 285.03 457.18 275.26 460.15 268.85 461.39 268.18 466.28 282.06 468.48 283.12 471.45 281.58 472.79 280.53 468.1 271.53 466.08 266.74 464.26 258.41 463.4 254.78 456.99 254.49" />
                <polygon class="cls-46" points="182.81 240.57 181.53 241.98 181.4 244.4 181.02 246.32 181.53 248.11 182.94 249 183.7 249.76 185.62 249.64 186.89 249.51 188.17 245.3 187.4 242.74 184.72 240.32 182.81 240.57" />
                <polygon class="cls-47" points="179.36 282.19 179.36 287.43 178.34 296.36 177.7 301.85 178.34 303.25 179.49 303 180.77 297.89 181.79 294.96 183.7 291 185.11 283.34 179.36 282.19" />
                <polygon class="cls-47" points="192.77 283.34 187.02 283.34 186.89 286.53 188.94 290.62 193.4 296.11 197.36 300.45 199.28 299.81 195.19 293.17 193.02 289.85 192.77 283.34" />
                <polygon class="cls-48" points="191.23 267.38 181.28 267 175.53 285.13 198.13 285.13 191.23 267.38" />
                <path class="cls-46" d="M570.28,665l-1.4.64-.26,1.53.51,1.54,1.66-.26,1.53-.26a12.18,12.18,0,0,0,.9-2.17c0-.38-.13-2.8-.13-2.8Z"
                    transform="translate(-389.01 -389.3)" />
                <polygon class="cls-49" points="182.55 250.53 182.3 252.32 181 254.39 181.02 260.36 181.34 266.84 182.49 267.08 182.43 270.06 181.28 275.68 183.83 275.68 185.87 272.36 187.28 267.76 188.82 267.57 191.25 267.57 189.96 253.59 189.03 250.81 186.88 249.51 183.72 249.75 182.55 250.53" />
                <polygon class="cls-50" points="183.7 241.59 181.53 240.83 182.68 238.91 186.13 238.53 188.81 240.19 190.34 243 190.59 246.06 189.96 247.21 188.55 248.36 191.36 255.25 190.72 257.04 187.91 254.11 187.4 251.17 187.02 249.57 186.13 244.91 186 243 183.7 241.59" />
                <path class="cls-51" d="M569,691.54l-4.6-.26-.51,1.66-1.66.38-2.17.51-.38,1.28s2.8.13,3.32.13h6.38Z"
                    transform="translate(-389.01 -389.3)" />
                <path class="cls-51" d="M589.18,688.73l-2.69-.26-1,2.3-1.15,2-1.66,1.53,1.92.64.89-1.15s2.43-1,2.81-1.14a22.5,22.5,0,0,0,2.17-1.41Z"
                    transform="translate(-389.01 -389.3)" />
                <polygon class="cls-52" points="129 298.53 126.8 299.2 125.3 298.02 124.53 297.32 125.3 296.43 127.4 296.36 129.77 295.4 129.89 294.25 130.66 294.25 131.55 293.94 135.13 294.32 137.81 294.13 137.87 295.15 140.68 295.28 140.55 296.04 138.77 296.04 138.57 298.91 161.49 299.17 161.74 298.21 162.64 298.15 162.89 297.19 163.72 297.19 163.79 296.04 164.81 296.04 164.81 294.89 166.09 294.89 165.77 296.04 165.32 296.17 164.81 296.3 164.74 297.19 164.23 297.25 163.79 297.57 163.79 298.21 163.09 298.28 162.64 298.72 162.64 299.3 161.74 299.94 161.81 305.36 161.81 306.38 163.59 306.51 163.59 308.04 162.7 308.04 162.7 309.25 160.85 309.19 160.72 308.17 161.55 308.17 161.74 307.28 157.09 307.08 156.89 306.13 156.7 305.17 146.87 305.17 146.81 306.19 141.83 306.19 141.96 307.08 140.49 307.21 140.55 308.23 140.74 309.32 140.49 310.6 139.34 310.6 139.02 309.76 139.72 309.45 139.79 307.66 136.59 307.28 136.66 308.11 135.83 308.17 135.77 309 134.87 308.94 134.62 309.96 133.02 310.15 132.96 309.25 133.72 309.19 133.85 308.3 134.62 308.23 135 307.08 135.06 306.25 132.7 306.06 132.7 304.47 131.94 304.21 131.62 299.04 129 298.53" />
                <rect class="cls-53" x="138.61" y="303.19" width="4.05" height="2.94" />
                <rect class="cls-54" x="156.86" y="301.34" width="3" height="2.71" />
                <rect class="cls-55" x="155.78" y="300.25" width="3.19" height="2.07" />
                <polygon class="cls-56" points="131.55 299.04 128.97 298.53 128.87 297.25 131.62 297.25 131.55 299.04" />
                <rect class="cls-57" x="142.56" y="301.31" width="2.33" height="1.79" />
                <rect class="cls-58" x="151.63" y="303.29" width="3.93" height="0.77" />
                <rect class="cls-59" x="147.77" y="304.08" width="5.78" height="1.09" />
            </g>


        </svg>

        <div style="display:none;" id='loadingUserProfileText'>LOADING PROFILE...</div>
    </div>

    <!-- end of  loading profile illustration -->




    <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/topojson@3"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script type="module" src="https://js.api.here.com/v3/3.1/mapsjs.bundle.js"></script>
    <script src="https://kit.fontawesome.com/a8ea7ecad9.js" crossorigin="anonymous"></script>


    <script type="module" src="addFavPlaces.js"></script>
    <script type="module" src="addPicOfPlace.js"></script>
    <script type="module" src="neighborhoodsDisplay.js"></script>
    <script type="module" src="mainForm.js"></script>
    <script type="module" src="submitMainFormValues.js"></script>
    <script type="module" src="nycMapDisplay.js"></script>





</body>