<!DOCTYPE html>
<html lang="en">

<!-- USED -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,600;1,300;1,500;1,700&display=swap"
        rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Exo+2:wght@800&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="registrationstyle.css">
</head>

<body>

    <!-- login page -->
    <section class='register-page'>
        <!-- login page nav -->
        <nav class='register-page-nav'>
            <ul>
                <li class='brand'><a href='#'> <i class="fas fa-map-signs"></i>Log in </a></li>
                <li><a href='#'>Explore neighborhoods</a></li>
                <li><a href='#'>About</a></li>
                <li><a href='#'>Language: English</a></li>
            </ul>
        </nav>
        <!-- end of login page nav -->

        <!-- register -->
        <div class='register'>
            <div class='register-content'> 
                <div id ='registerProfileImageContainer'>
                    <h2>Register</h2>
                    <div class='user-image-wrapper'>
                            <img src='https://raw.githubusercontent.com/diegoleonardoro/bronx_tourism/master/2feca4c9330929232091f910dbff7f87.jpeg'/>
                    </div>
                </div>
                <form class='register-form'>
                    <input type="text" name="name" id="name" placeholder="Name" />
                    <input type="email" name="email" id="email" placeholder="Email" />
                    <input type="password" name="password" id="pass" placeholder="Create password" />
                    <input type="password" name="re_pass" placeholder="Repeat password" />
                    <div>
                        <button type='submit' class='register-form-btn'>Register</button>
                        <input type='checkbox' class='register-form-checkbox' id='check'> <a id='goToMainForm' href=''>
                            </input>
                            <label for='check'>Remember me</label>
                    </div>
                </form>
            </div>

            <footer class='register-footer'>
                <p>Already a member <a href='#'>Log in </a></p>
            </footer>
        </div>
        <!-- end of register -->
    </section>



    <div id='checkEmailContainer'>

        <div id='divImgSvgSentEmailContainer'>
            <img style='position: absolute; left:50%;  transform: translate(-50%,0);' src="https://raw.githubusercontent.com/diegoleonardoro/bronx_tourism/master/emailSent2png.png">

            <svg style='position: absolute; left:49.5%;  transform: translate(-50%,270%);' xmlns="http://www.w3.org/2000/svg"
                width='60' viewBox="0 0 56.12 82.25">
                <defs>
                    <style>.cls-1_{fill:none;stroke:#00addc;stroke-width:2px;}</style>
                </defs>
                <path class="cls-1_" id='sentEmailHandsLine' d="M703.2,341.77c-10.81-1-22-1.14-23,2.3-1.44,4.82,18.32,12.16,17.23,18.38-1.29,7.37-39.1,2.27-40.21,8-.75,3.87,15.39,8.79,14.55,13.41-.87,4.79-19,3.41-19.91,8-1.18,5.78,25.94,12.95,25.27,19.92-.31,3.24-6.69,6.85-29.87,9.57"
                    transform="translate(-647.16 -340.17)" />

                <path class="cls-1_" id='sentEmailHandsLine2' d="M703.2,341.77c-10.81-1-22-1.14-23,2.3-1.44,4.82,18.32,12.16,17.23,18.38-1.29,7.37-39.1,2.27-40.21,8-.75,3.87,15.39,8.79,14.55,13.41-.87,4.79-19,3.41-19.91,8-1.18,5.78,25.94,12.95,25.27,19.92-.31,3.24-6.69,6.85-29.87,9.57"
                    transform="translate(-647.16 -340.17)" />
            </svg>
        </div>

        <h3 id ='checkEmailHeader'>We just sent you an email to verify your
                identity</h3>


    </div>
    <!-- end of login page -->

    <!--
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Your Name" />
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email" />
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="pass" placeholder="Password" />
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password" />
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all
                                    statements in <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <a id='goToMainForm' href=''>
                                    <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="https://raw.githubusercontent.com/diegoleonardoro/bronx_tourism/master/Screen%20Shot%202020-01-17%20at%2010.45.28%20AM.png"
                                alt="sing up image"></figure>
                        <a href="#" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
   -->
    <script type="text/javascript" src="/submit_registration.js"></script>


</body>

</html>