
  body, html {
      height: 100%;
      background-color: #edf3f7;
  }
  
 .main-page-nav{
    display:flex;
    width:100%;
    height:7%;
    justify-content: space-evenly;
    align-items: center;
    top:0%;
    position:fixed;
    background-color: #edf3f7;
    box-shadow: 0 0 0.7rem rgb(0,0,0,0.3);
    font-family: 'Poppins', sans-serif;
    font-size:0.8rem;
    color:#2D4859;
    z-index: 10;
  }

  .about {
    cursor: pointer;
    padding: 0.5rem 1rem;
  }

  .about:hover{
    border:0.1rem solid #2D4859;
    background-color:#2D4859;
    border-radius: 3rem;
    color:white;
  }

  .registerButton{
    cursor: pointer;
    padding: 0.5rem 1rem;
  }

  .registerButton:hover{
    border:0.1rem solid #2D4859;
    background-color:#2D4859;
    border-radius: 3rem;
    color:white;
  }
  
  .loginButton{
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
  .loginButton:hover{
    border:0.1rem solid #2D4859;
    background-color:#2D4859;
    border-radius: 3rem;
    color:white;
  }

  .exploreNhoodsButoon_Illustration{
    display:flex;
   
  }
  .exploreNeighborhoods{
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-right:1rem;
  }

  .exploreNeighborhoods:hover{
    border:0.1rem solid #2D4859;
    background-color: #2D4859;
    border-radius: 3rem;
    color:white;
  }




  /* buildings Silhouette */

  .svgNhoodsIllustration{
    margin-top:-0.7rem;
  }

  .rectSilhouette{
      fill:none;
      stroke:#2D4859;
      stroke-miterlimit:10;
  }

  .baseSilhouette{

      fill:none;
      stroke:#2D4859;
      stroke-width: 4;
  }

  .secondSilhouette{
      fill:none;
      stroke:#edf3f7;
      stroke-dasharray: 500;
      stroke-width: 2;
      animation: dash2 10s infinite linear;
      display:none;
    
  }

  @keyframes dash2 {
      from {
        stroke-dashoffset: 3000;
      }
    
  }
  /* end of buildings Silhouette */







/* buidling Silhouette for loading user information */

.loadingContentText{

  font-family: 'Exo 2', sans-serif;
  font-size: 1rem;
  display:inline;
  margin-left:25%;
  color:#edf3f7;


}
.nhoodIllustrationSvgLoadingInfo{
  margin-top:20%;
  margin-left:50%;
  transform:translate(-50%, 0%);
 
}


.baseSilhouetteInfoLoading{
  fill:none;
  stroke:#2D4859;
  stroke-width: 4;
}
.secondSilhouetteInfoLoading{
  fill:none;
  stroke:#edf3f7;
  stroke-dasharray: 500;
  stroke-width: 2;
  animation: dash2 10s infinite linear;
}

/* end of buidling Silhouette for loading user information */


 






  .searchBarAutoCompleteDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar{
    display:flex;
    align-items:center;
    position:relative;
  }


  .search-bar-input{
    height:2rem;
    width:15rem;
    border:0.1rem solid #2D4859;
    border-radius: 3rem;
    background-color: #f9fdff;
    padding-left:4rem;
    transition: all 0.3s;
    color:black;
  }

  

  .search-bar-input:focus{
      background-color: #ffffff;
      border-color: #79BCFF;
  }


  .search-bar i{
    position:absolute;
    font-size: 1.6rem;
    left:1rem;
    color:#2D4859;
}


/* -------------------------- auto complete items -----*/
.autocomplete-items {
  position: absolute;
  display:flex;
  flex-direction:column;
  top:83px;
  margin-top:-1.3rem;
  border: none;
  z-index: 99;
  left: 0;
  right: 0;
}

.autocomplete-items span {
  position: relative;
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border: 1px solid #d4d4d4; 
  width:100%;
  margin-left:50%;
  transform:translate(-50%, -50%);
}

.autocomplete-items span:hover {
  background-color: #e9e9e9; 
}

.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
/* -------------------------- end of auto complete items -----*/


  #MainSection{
    display: grid;
    grid-template-columns: 0.1fr 2fr 2fr 0.1fr;
    grid-template-rows: 25fr 25fr ;
    margin-top:7%;
    height:70%;

  }


  #headerMainDivContainer{
    grid-column : 2/4;
    grid-row: 1/-1;
    background-size: cover;
    background-image: url("https://raw.githubusercontent.com/diegoleonardoro/bronx_tourism/master/07mag-subways1-videoSixteenByNineJumbo1600.jpeg");  
    border-radius:2rem;
  }


  
  #headerMainSection{
  
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 200%;
    letter-spacing: 0.5em;
    grid-column : 2/-1;
    grid-row: 1/2;
    align-self: flex-end;
    color: #FFFAFA;
    text-decoration: none;
    margin-left: 4rem;
  }
  
  
  #headerMainSection span{
    font-family: 'Architects Daughter', cursive;
  }


  
  /*
  #heroHeaderComplement span{
    font-size: 2em;
    font-family: steinzeit, sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.5s ease-out;
  }
  */
  
  #neighborhoodStreet{
    height:100%;
    width: 50%;
    margin-top:10%;
    margin-left:42%;
  }

 

  #exploreNeighborhoodstext{
      margin-top:2%;
      /*position: relative;*/
      /*left:25%;
      width:15.5%;*/

      padding:1%;
      margin-bottom: 2%;

      margin-left: 50%;
      transform:translate(-50%, 0%);
     
      color: black;
      font-family: korolev-compressed, sans-serif;
      font-weight: 900;
      font-style: normal;
      font-size: 2em;
      z-index: -1;
  }


  #nhoodsMapSvgWrapper{
    width:100%;
    height:100%;


    background-color: rgb(198, 226, 243);


  }


#exploreNeighborhoodsSection{
      /*margin-top:5%;*/
      width:100%;

      
      height:100%;
   
   
  }


#manhattanTitle{
    font-family: 'Poppins', sans-serif;
    grid-area: manhattanTitle;
    border-style: double;
    border-width: 0.3em;
    width:61.3%;
    padding-bottom:4%;
    padding-top: 4% ;
    padding-left:30%;
    margin-bottom: 3%;
    background-color: #2D4859;
    color:white;

   
}

#brooklynTitle{
  font-family: 'Poppins', sans-serif;
  grid-area: brooklynTitle;
  border-style: double;
  border-width: 0.3em;
  width:55%;
  padding-bottom:4%;
  padding-top: 4% ;
  padding-left:37%;
  margin-bottom: 3%;
  background-color: #2D4859;
  color:white;
}

#bronxTitle{
  font-family: 'Poppins', sans-serif;
  grid-area: bronxTitle;
  border-style: double;
  border-width: 0.3em;
  width:61.3%;
  padding-bottom:4%;
  padding-top: 4% ;
  padding-left:32%;
  margin-bottom: 3%;
  background-color: #2D4859;
  color:white;
}

#queensTitle{
  font-family: 'Poppins', sans-serif;
  grid-area: queensTitle;
  border-style: double;
  border-width: 0.3em;
  width:55.3%;
  padding-bottom:4%;
  padding-top: 4% ;
  padding-left:37%;
  margin-bottom: 3%;
  background-color: #2D4859;
  color:white;
}

#statenIslandTitle{
  font-family: 'Poppins', sans-serif;
  grid-area: statenIslandTitle;
  border-style: double;
  border-width: 0.3em;
  width:61.3%;
  padding-bottom:4%;
  padding-top: 4% ;
  padding-left:30%;
  margin-bottom: 3%;
  background-color: #2D4859;
  color:white;

}

  #neighborhoodsSection{

    display: flex;
    height:50%; 
    width:100%;
    display: grid;

    position: relative;
    top: 6%;

    grid-template-areas: 
      'manhattanTitle brooklynTitle bronxTitle queensTitle statenIslandTitle'
      'manhattanNeighborhoodsContainer brooklynNeighborhoodsContainer bronxNeighborhoodsContainer queensNeighborhoodsContainer statenIslandNeighborhoodsContainer' ;

      justify-content: center;

  }

  #manhattanNeighborhoodsContainer{
    width:100%;
    display:grid;
    grid-template-columns: 50% 50% ;
    grid-auto-rows: 17%;
    gap:1%;
    overflow-y: scroll;
    grid-area: manhattanNeighborhoodsContainer;

    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

    /*
    left :50%;
    transform:translate(50%, 0%);
    */
    
  }

  
  #brooklynNeighborhoodsContainer{
    width:100%;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows:17%;
    gap:1%;
    overflow-y: scroll;
    grid-area: brooklynNeighborhoodsContainer;

    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;


  }
  #bronxNeighborhoodsContainer{
    width:100%;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows:17%;
    gap:1%;
    overflow-y: scroll;
    grid-area: bronxNeighborhoodsContainer;

    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

  }

  #queensNeighborhoodsContainer{
    width:100%;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows:17%;
    gap:1%;
    overflow-y: scroll;
    grid-area: queensNeighborhoodsContainer;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

  }


  #statenIslandNeighborhoodsContainer{
    width:100%;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows:17%;
    gap:1%;
    overflow-y: scroll;
    grid-area: statenIslandNeighborhoodsContainer;

    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

 
  
  }
  .neighborhoodTitle{
    padding:2% 0%;
  }



  .neighborhood {
    background-color: white; /*rgb(223, 240, 241);*/
    text-align: center;

    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center;

    cursor: pointer;
    transition: all 0.5s;
    font-size: 75%;
    font-family: 'Poppins', sans-serif;


 
  }


.neighborhood:hover  {
  font-size: 90%;
  background-color: rgb(239, 247, 252);


}


#map{
  width: 100%;
  height:60%;
  display:flex;
  justify-content: space-evenly;
  transition: display 0.5s;

position:relative;
 top: 13%;
}

#MapSVG_{
  width:30%;
 

  border-radius: 25px;

 
  /*
   transform:translate(0%, -50%);
  transition: all 3s;
  margin-left:33%;*/
  /*position:absolute;*/
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}


.boundary{

  /*
  position: absolute;;
  margin-top: 530%;
  transform:translate(0%, -50%);
  */

}

#neighborhoodDescription{
 /* transition: all 0.5s;*/
  height : 80%;
  width :30%;
  /*margin-left: 55%;*/
  /*position:absolute;
  */
  display:none;
  background-color: #2D4859;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

#divSvgNhoodText{
  display: flex;
  flex-direction: column;
  align-items: center;
  transform:translate(0%, 50%);
}

.loadingUserProfileIllustration{
  box-shadow: 0 0 0.7rem rgb(0,0,0,0.3);
}

#loadingUserProfileText{
    font-size: 75%;
    font-family: 'Poppins', sans-serif;
}


.neighborhoodHeaderMain{
  font-family: 'Poppins', sans-serif;
  font-size: 200%;
  margin-top:3%;
  margin-bottom:5%;
  color:rgb(223, 240, 241); 

}

.neighborhoodHeader{
  font-family: 'Poppins', sans-serif;
  font-size: 75%;
  color:rgb(223, 240, 241); 
}

.whoCanShow{
  margin-left:5%;
  margin-right:5%;
  margin-bottom:5%;
  position: relative;
  height : 63%;
  width :86%;
  padding: 2%;
  background: rgb(223, 240, 241);
  border-radius: 25px;
  box-shadow: 0 0 0.7rem rgb(0,0,0,0.3)
}

.divOfFavPlace{
  background-color: rgb(241, 250, 250);
  padding: 2% 0;
  border-radius: 25px;
  box-shadow: 0 0 0.7rem rgb(0 0 0 / 30%) inset;
}
.whoCanShow p{
  font-family: 'Poppins', sans-serif;
  font-size: 75%;
}

.whoCanShowItem{
  margin-left:5%;
 
}

.placeImage{
  display:none;
  position: relative;
  /*margin-left: 60%;*/ 
}

#visitUserProfile{
  margin-left:5%;
  background-color: rgb(253, 253, 253);
  padding:3%;
  margin: 2% 0;
  width:60%;
  position: relative;
  left:20%;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Poppins', sans-serif;
  font-size: 75%;
  cursor: pointer;
  box-shadow: 0 0 0.7rem rgb(0,0,0,0.3)
}



.prevPerson{ 
  transition: all 0.5s;
  margin-left: 6%;
  margin-top: 3%;
  cursor:pointer;
}

.nextPerson{

  transition: all 0.5s;
  margin-left: 70%;
  margin-top: 3%;
  cursor:pointer;
}



/* map svg: */

@media only screen and (max-width:1834px){

  .boundary{
    transform: scale(0.8);
  }

}

@media only screen and (max-width:1504px){

  .boundary{
    transform: scale(0.7);
  }


  #neighborhoodDescription{
    margin-top:0%;  
  }

}



@media only screen and (max-width:1296px){

  #MapSVG{
    height: 48%;
  }

  .boundary{
    transform: scale(0.6);
  }

  #neighborhoodDescription{
    background: green;
    height:54%;
    margin-top:0%; 
  }

  

  .neighborhoodHeader{
    font-size: 0.8em;
  }

  

}

@media only screen and (max-width:1100px){

  .boundary{
    transform: scale(0.5);
  }

  #MapSVG{
    height: 39%;
  }

  #neighborhoodDescription{
    height:44%;
    background: blue;
  }

  .whoCanShowItem{
    font-size: 0.74em;
  }


  .whoCanShow{
    height: 60%
  }

}

@media only screen and (max-width:950px){

  .boundary{
    transform: scale(0.4);
  }

  #MapSVG{

    margin-left:35%;
  }

  #neighborhoodDescription{
    margin-left:35%;
    margin-top:45%;
  }
}

@media only screen and (max-width:800px){
  .boundary{
    transform: scale(0.3);
  }
}

@media only screen and (max-width:547px){
  .boundary{
    transform: scale(0.2);
  }
}



/* neighborhood description div: */
@media only screen and (max-width:1504px){
  #neighborhoodDescription{
    margin-top:0%;  
  }
}



/*Place image*/
@media only screen and (max-width:1533px){
  .placeImage{

  }
}

@media only screen and (max-width:1400px){
  .placeImage{

  }
}

@media only screen and (max-width:1190px){
  .placeImage{
    transform: scale(0.9);
  }
}

@media only screen and (max-width:1100px){
  .placeImage{
    transform: scale(0.7);
  }
}



/* Prev and Next person */
@media only screen and (max-width:1470px){
  .nextPerson{
    margin-left: 68%;
  }
}

@media only screen and (max-width:1296px){
  .nextPerson{
    margin-left: 63%;
  }
}

@media only screen and (max-width:1100px){
  .prevPerson{
    transform: scale(0.7);
  }
  .nextPerson{
    margin-left: 58%;
    transform: scale(0.7);
  }
}
