
  /* common styles  */
  *{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
    outline:none;
  }

  body, html {
      height: 100%;
      background-color: #edf3f7;
      scroll-behavior: smooth;
  }

  a{
  text-decoration: none;
  color:black;
}

  /* end of common styles  */



/* nav bar */
.header-container{
  background-color: rgb(242, 251, 255);
  min-height: 60px;
  margin-bottom: 30px;
  width:100%;
  box-shadow: 0 0 0.7rem rgb(0,0,0,0.3);
}

header{
  width:60%;
  min-height:60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav{
  display:flex;
}



#neighborhoodName{
  margin:4px;
  height:2rem;
  width:140px; 
  border:0.1rem solid #2D4859;
  border-radius: 3rem;
  background-color: #f9fdff;
  padding-left:1.5rem;
  transition: all 0.3s;
  color:black;
  
}

.logo{
  display:flex;
  font-size : 15px;
}

.logo i{
  font-size : 25px;
  color:#2D4859;
}
.logoText{
    padding: 7px 20px;
}
.navButton{
  padding:10px 25px;
  margin-left:20px;
  color:black;
  font-size : 15px;
  width:50px;
}

.navButton:hover {
  border-bottom: solid #2D4859 3.5px;
}

._searchBarAutoCompleteDiv{
  margin-left:15px;
}

.mob-wrapper{/* menu wraper for mobile */
   display:none; 
}
/* end of nav bar */











/* 
 .main-page-nav{
    display:flex;
    width:100%;
    height:7%;
    justify-content: space-evenly;
    align-items: center;
    top:0%;
    position:fixed;
    background-color: #edf3f7;
    box-shadow: 0 0 0.7rem rgb(0,0,0,0.3);
    font-family: 'Poppins', sans-serif;
    font-size:0.8rem;
    color:#2D4859;
    z-index: 10;
  } */

  /* .about {
    cursor: pointer;
    padding: 0.5rem 1rem;
  }

  .about:hover{
    border:0.1rem solid #2D4859;
    background-color:#2D4859;
    border-radius: 3rem;
    color:white;
  } */

  /* .registerButton{
    cursor: pointer;
    padding: 0.5rem 1rem;
  }

  .registerButton:hover{
    border:0.1rem solid #2D4859;
    background-color:#2D4859;
    border-radius: 3rem;
    color:white;
  }
  
  .loginButton{
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
  .loginButton:hover{
    border:0.1rem solid #2D4859;
    background-color:#2D4859;
    border-radius: 3rem;
    color:white;
  } */
/* 
  .exploreNhoodsButoon_Illustration{
    display:flex;
   
  }
  .exploreNeighborhoods{
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-right:1rem;
  }

  .exploreNeighborhoods:hover{
    border:0.1rem solid #2D4859;
    background-color: #2D4859;
    border-radius: 3rem;
    color:white;
  } */







  /* buildings Silhouette */

  .svgNhoodsIllustration{
    margin-top:-0.7rem;
  }

  .rectSilhouette{
      fill:none;
      stroke:#2D4859;
      stroke-miterlimit:10;
  }

  .baseSilhouette{

      fill:none;
      stroke:#2D4859;
      stroke-width: 4;
  }

  .secondSilhouette{
      fill:none;
      stroke:#edf3f7;
      stroke-dasharray: 500;
      stroke-width: 2;
      animation: dash2 10s infinite linear;
      display:none;
    
  }

  @keyframes dash2 {
      from {
        stroke-dashoffset: 3000;
      }
    
  }
  /* end of buildings Silhouette */









/* buidling Silhouette for loading user information */

.loadingContentText{

  font-family: 'Exo 2', sans-serif;
  font-size: 1rem;
  display:inline;
  margin-left:25%;
  color:#edf3f7;


}
.nhoodIllustrationSvgLoadingInfo{
  margin-top:20%;
  margin-left:50%;
  transform:translate(-50%, 0%);
 
}


.baseSilhouetteInfoLoading{
  fill:none;
  stroke:#2D4859;
  stroke-width: 4;
}
.secondSilhouetteInfoLoading{
  fill:none;
  stroke:#edf3f7;
  stroke-dasharray: 500;
  stroke-width: 2;
  animation: dash2 10s infinite linear;
}

/* end of buidling Silhouette for loading user information */




    /* search bar */

  .searchBarAutoCompleteDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar{
    display:flex;
    align-items:center;
    position:relative;
  }


  .neighborhoods-search-bar-input{
    margin:4px;
    height:2rem;
    width:100%; 
    border:0.1rem solid #2D4859;
    border-radius: 3rem;
    background-color: #f9fdff;
    padding-left:1.5rem;
    transition: all 0.3s;
    color:black;
  }


  .neighborhoods-search-bar-input:focus{
      background-color: #ffffff;
      border-color: #79BCFF;
  }


  .search-bar i{
    position:absolute;
    font-size: 0.5rem;
    left:1rem;
    color:#2D4859;
}

 /* end of search bar */











/* -------------------------- auto complete items -----*/
.autocomplete-items {
  position: absolute;
  display:flex;
  flex-direction:column;
  top:83px;
  margin-top:-1.3rem;
  border: none;
  z-index: 99;
  left: 0;
  right: 0;
}

.autocomplete-items span {
  position: relative;
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border: 1px solid #d4d4d4; 
  width:100%;
  margin-left:50%;
  transform:translate(-50%, -50%);
}

.autocomplete-items span:hover {
  background-color: #e9e9e9; 
}

.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
/* -------------------------- end of auto complete items -----*/




/* 
  #MainSection{
    display: grid;
    grid-template-columns: 0.1fr 2fr 2fr 0.1fr;
    grid-template-rows: 25fr 25fr ;
    margin-top:7%;
    height:70%;

  }


  #headerMainDivContainer{
    grid-column : 2/4;
    grid-row: 1/-1;
    background-size: cover;
    background-image: url("https://raw.githubusercontent.com/diegoleonardoro/bronx_tourism/master/07mag-subways1-videoSixteenByNineJumbo1600.jpeg");  
    border-radius:2rem;
  }


  
  #headerMainSection{
  
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 200%;
    letter-spacing: 0.5em;
    grid-column : 2/-1;
    grid-row: 1/2;
    align-self: flex-end;
    color: #FFFAFA;
    text-decoration: none;
    margin-left: 4rem;
  }
  
  
  #headerMainSection span{
    font-family: 'Architects Daughter', cursive;
  } */


  
  /*
  #heroHeaderComplement span{
    font-size: 2em;
    font-family: steinzeit, sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.5s ease-out;
  }
  */
  


  /* #neighborhoodStreet{
    height:100%;
    width: 50%;
    margin-top:10%;
    margin-left:42%;
  } */



/* select neighborhoods sections  */
  #nhoodsMapSvgWrapper{
    width:90%;
    height:100%;
    position: relative;

    margin:0 auto;

    /* left:50%;
    transform: translate(-50%, 0); */
    background-color: rgb(198, 226, 243);
    box-shadow:  0px 0px 15px -3px #000000;
}


#exploreNeighborhoodstext{
    margin-top:2%;
    padding:1%;
    margin-bottom: 2%;
    margin-left: 50%;
    transform:translate(-50%, 0%);
    color: black;
    font-family: korolev-compressed, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2em;
    z-index: -1;
}


#neighborhoodsSection{
    display: flex;
    flex-wrap: wrap;
    height:80%; 
    width:100%;
    position:relative;
    top: 50%;
    transform: translate(0, -50%);
    justify-content: space-evenly;
    
}

.boroughContainer{
  height:80%;
}

.boroughTitle{
    border-style: double;
    border-width: 0.3em;
    width:85%;
    height: 25px;
    vertical-align: middle;
    line-height: 25px;
    text-align: center;
    margin:3px;
    background-color: #2D4859;
    color:white;
}

.neighborhoodsContainer{
  width:100%;
  height:80%;
  overflow-y: scroll;
  background-color: rgb(224, 240, 250);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}


.neighborhood {
  width:100%;
  padding:3px;
  margin:3px;
  height: 25px;
  background-color: white; 
  text-align: center;
  display: flex;
  align-items: center; 
  justify-content: center;
  cursor: pointer;
  transition: font-size 0.5s;
  font-size: 75%;
  font-family: 'Poppins', sans-serif;
}

.neighborhood:hover  {
  font-size: 90%;
  background-color: rgb(239, 247, 252);
}



#exploreNeighborhoodsSection{
    /* margin-top:8%; */
    padding-bottom:8%;
    width: 90%;
    margin:4% auto;
}

#map{
  width: 90%;
  /* height:100%; */
  display:flex;
  justify-content: space-evenly;
  transition: display 0.5s;
  position:relative;
  margin:0 auto;
}

#MapSVG_{
  position: relative;
  background: rgb(198, 226, 243);
  box-shadow: inset rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  align-self: center;
}

.boundary{
  transform: translate(1px, 1px);
}

#neighborhoodDescription{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height : 400px;
  width :30%;
  background-color: #2D4859;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  z-index: 1;
}

#section_neighborhoodGuides{
  display: none;
  width:90%;
  margin:0 auto;
  padding:30px; 
}

#loadingTourguides{
  display: none;
  margin-top:6%;
}

#loadingTourguides h2{
  text-align:center;
  margin-bottom:0.5%;
}

#loadingTourguides svg{

  position:relative;
  left:50%;
  transform: translate(-50%, 0);
  margin-bottom:10%;

}



#tourguidesHeader{
  display:inline;
  position:relative;
  margin-left:40%;
}


#container_neighborhoodGuides{
  /* background-color: rgb(236, 248, 255); */
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  margin-top:2%;
  /* width:100%; */
  /* height:500px; */
}

.whoCanShow{
  display:flex;
  flex-direction:column;
  justify-content:center;
  position: relative;
  padding: 10px;
  background: white;
  /* box-shadow: 0 0 0.7rem rgb(0,0,0,0.3); */
  border: rgb(185, 185, 185) solid 0.2px;
  margin:15px 20px;
  width:30%;
  height:400px;
}

.profileImgNameContainer{
  display:flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-bottom:10px;
}


#visitProfileSvg{
  margin-right: 10px;
  cursor: pointer;
}


.profilePicIntro{
  /* margin-bottom:10px; */
}

.user-image-wrapper{ 
  width:3rem;
  height:3rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.user-image-wrapper img{
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius: 50%;
}

.whocanShow_name{
  position: relative;
  left:10px;
}




.whoCanShowItem{
  /* margin-left:5%; */
  font-family: 'Poppins', sans-serif;
  font-size: 75%;
  padding:2px;
  /* width:100%; */
}

.plc_description{
  height:50px;
  width:90%;
  overflow:auto;
  margin-bottom:10px;
  position:relative;
  left: 50%;
  transform:translate(-50%, 0);
  border: solid 0.3px rgb(110, 110, 110);
  border-radius: 5px;
  padding:9px;
  background-color: white;
}


.place_p{
  font-family: 'Poppins', sans-serif;
  font-size: 75%;
  padding:2px;
  margin-left: 25px;
}


/* 
.path_imgArr{
    fill:none;
    stroke:#000;
    stroke-linecap:round;
    stroke-miterlimit:10;
    stroke-width:20px;
    z-index: 10;
}  */

/* .prevImageArrow{
  fill:none;
  stroke:#000;
  stroke-linecap:round;
  stroke-miterlimit:10;
  stroke-width:20px;
} */




#whoCanShowItemLast{
  margin-bottom:12px;
  width:90%;
  position: relative;
  left:50%;
  transform: translate(-50%, 0)
}


.divPlaceContainer{
  align-self: center;
  width: 90%;
}

.divOfFavPlace{
  display:flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: rgb(241, 250, 250); */
  padding: 2% 0;
  border: solid 0.3px rgb(175, 175, 175);
  height:180px;
  width:80%;
  border-radius: 20px;
}

.placeImagesDiv{
  align-self: center;
}


._nextImageFavPlaceSvg{
  cursor: pointer;
}

.prevImageFavPlaceSvg{
  cursor: pointer;
}

.visible_imagesAndSvgsContainer{
  display:flex;
  margin:5px 10px;
}

.nonVisible_imagesAndSvgsContainer{
  display:none;
}


.placeImage{
  display:none;
  position: relative;
  width:100%;
}

.hiddenImage{
  display:none;
}

.shownPlace{
  display:flex;
  align-items:center;
}

.hiddenPlace{
  display:none;
}



.fa-arrow-circle-left{
  padding-right:10px;
  font-size: 30px;
}

.leftArowNextPlace{
    cursor: pointer;
}

.fa-arrow-circle-right{
  padding-left:10px;
  font-size: 30px;
}

.rightArowNextPlace{
    cursor: pointer;
}





















#divSvgNhoodText{
  display: flex;
  flex-direction: column;
  align-items: center;
  transform:translate(0%, 50%);
}

.loadingUserProfileIllustration{
  box-shadow: 0 0 0.7rem rgb(0,0,0,0.3);
}

#loadingUserProfileText{
    font-size: 75%;
    font-family: 'Poppins', sans-serif;
}

.neighborhoodHeaderMain{
  font-family: 'Poppins', sans-serif;
  font-size: 200%;
  /* margin-top:3%; */
  /* margin-bottom:5%; */
  color:rgb(223, 240, 241); 
  padding: 0 30px;
}

.neighborhoodHeader{
  font-family: 'Poppins', sans-serif;
  font-size: 75%;
  color:rgb(223, 240, 241); 
  padding: 0 30px;
}


#visitUserProfile{
  margin-left:5%;
  background-color: rgb(253, 253, 253);
  padding:3%;
  margin: 2% 0;
  width:60%;
  position: relative;
  left:20%;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Poppins', sans-serif;
  font-size: 75%;
  cursor: pointer;
  box-shadow: 0 0 0.7rem rgb(0,0,0,0.3)
}



/* .prevPerson{ 
  transition: all 0.5s;
  margin-left: 6%;
  margin-top: 3%;
  cursor:pointer;
}

.nextPerson{

  transition: all 0.5s;
  margin-left: 70%;
  margin-top: 3%;
  cursor:pointer;
} */


/* Tablet view  */


@media (max-width: 1115px){

    .navButton{
      padding:10px 6px;
    }

    .neighborhood{
      width:80%;
      position:relative;
      left:50%;
      transform:translate(-50%, 0)
    }

    #section_neighborhoodGuides{

      margin:90px auto;

    }

}
@media (max-width: 1006px){
  .boroughContainer{
    height: 40%;
  }

  #nhoodsMapSvgWrapper {
    height:70%;
  }

}

@media (max-width: 918px){

  .boroughTitle{
    width:80%;
    position:relative;
    left:50%;
    transform: translate(-50%, 0)
  }


  .searchBarAutoCompleteDiv{
    width:100%;
    position:relative;
    left:50%;
    transform: translate(-50%, 0);
  }

  .search-bar{
    width:100%;
  }

  .neighborhoods-search-bar-input,
  .neighborhoods-search-bar-input::-webkit-input-placeholder {
      font-size: 9px;
      line-height: 3;
  }

  #neighborhoodsSection{
    width:90%;
    left:50%;
    transform:translate(-50%, -50%);
  }

  #neighborhoodDescription{
    width:40%;
  }


  #section_neighborhoodGuides h2{
     margin-left: 10%; 
    /* margin-right: 110px;  */
    text-align: center;
    font-size: 12px;
    
  }

}



@media (max-width: 692px){
  nav{
    display:none;
  }

  .mob-wrapper{
    display:block;
    padding-right: 40px;
    z-index: 1;
  }

  .mob-nav{
    display:none;
    position: absolute;
  }

  .navButtonSmaller{
    display:block;
    padding: 10px 5px; 
    margin-left: -35px;
    text-align: center; 
    background-color: #2D4859;
    color:white;
  }

  #neighborhoodDescription{
    margin-left:5%;
  }

 .neighborhood{
    width:70%;
  }

  #neighborhoodsSection {
    transform: translate(-50%, -58%);
  }

}



/* Styles for loading tour guides illustration*/
.ee886a50-be8c-4dfd-9d7e-e0569e90cc07 {
  fill: rgb(255, 203, 121);
}

.b84789bc-52b7-448f-95db-8870addfa2e5, .bc56eb0d-d86c-4a0d-9534-2eeb9a96c9cf, .ee886a50-be8c-4dfd-9d7e-e0569e90cc07 {
  stroke: #000;
}

.b403bd8f-0557-4e93-bd33-2d342a93c80b, .b83322e5-8a77-47b9-8372-0ff2b0bae2de, .b84789bc-52b7-448f-95db-8870addfa2e5, .bc56eb0d-d86c-4a0d-9534-2eeb9a96c9cf, .bedddca1-db1e-4a02-b267-335282951834, .ee886a50-be8c-4dfd-9d7e-e0569e90cc07 {
  stroke-miterlimit: 10;
}

.a3124e73-6a92-453f-a823-1262edadb382, .bc56eb0d-d86c-4a0d-9534-2eeb9a96c9cf {
  fill: rgb(90, 99, 171);
}

.aeb75fa9-1c32-4ddc-a077-c3fadbc4cb7a {
  fill: #fb9699;
}

.a9b98572-687a-43e2-b330-888ebbcfbf7b {
  fill: #fa8185;
}

.b87c3a1e-4716-42a9-b517-a28cb6f1dcda {
  fill: #1d2a68;
}

.b84789bc-52b7-448f-95db-8870addfa2e5, .bedddca1-db1e-4a02-b267-335282951834 {
  fill: none;
}

.bedddca1-db1e-4a02-b267-335282951834 {
  stroke: #fff;
  stroke-width: 3px;
}

.ecaca6f2-c0b2-43bd-b717-b8c90258bf90 {
  fill: #4f58a5;
}

.bd746994-2ddf-4fe5-ae7e-61f1ac70b1b9 {
  fill: #ff8caa;
}

.a979725a-08bd-4f08-a132-ab54e56cdc3b {
  fill: #ff8ba9;
}

.b97d0f4a-95a7-475f-8a57-1713f3c730b6 {
  fill: #e25577;
}

.bbaeb6cb-c016-45f7-b829-2a847672e8f4 {
  fill: #0055c9;
}

.b89fb43b-a6e4-4108-94fb-f1eb307a7628 {
  fill: #0051c7;
}

.bc2ab54c-974a-4f6f-89eb-c5743c5fef99 {
  fill: #0052c8;
}

.f1af22e2-81d6-46e5-b3ae-48ca2fda79ce {
  fill: #0050c7;
}

.a5872169-1436-4885-b923-4c3581f1a0de {
  fill: #e15276;
}

.ae02f42d-8e70-4a89-a2b6-c62452b738ce {
  fill: #fffcde;
}

.fa35d329-2e17-43fc-8010-fe20c3e1749e {
  fill: #fcd6be;
}

.b35bad58-d83c-47e2-9d44-cae204439656 {
  fill: #f7b28f;
}

.a45fead9-49dd-4ed8-b80c-bc078a42aede {
  fill: #f9c1a2;
}

.b47aa0fb-45d8-4ecf-a6e2-560cefb3e675 {
  fill: #f5f7f9;
}

.b54c6106-5b36-4f82-830c-e62820c77515 {
  fill: #ffd88f;
}

.be4f009c-94c6-44bd-9288-dd46c8a08c84 {
  fill: #f9f0af;
}

.a3e8fa31-c076-4d1a-872d-d19a77b4ea31 {
  fill: #ffc963;
}

.fe49b9a0-06e3-4a6d-a8c8-73eca589a449 {
  fill: #0055d4;
}

.fabd4dc5-5afa-4b34-8a21-5ac64052b090 {
  fill: #2fa4e3;
}

.be6709b2-64d3-40e2-bb16-9dadf977dd95 {
  fill: #2ba1e1;
}

.ebe0ef6b-a1a9-4a11-afaa-ab01c6e2af08 {
  fill: #60c2fa;
}

.a2d40354-5e7f-46a1-a1c4-11b4a6aed674 {
  fill: #59befa;
}

.e9c01529-dfab-45c5-bc3b-1d8bed200d66 {
  fill: #f9ce8a;
}

.b2ee80dd-3906-49f9-8690-27b7047ba10b {
  fill: #005ad8;
}

.e05faa78-92ad-43a8-a0d6-10f1ecec2464 {
  fill: #005bd8;
}

.b403bd8f-0557-4e93-bd33-2d342a93c80b {
  fill: #ffb38d;
  stroke: #c7b299;
}

.a222e787-2d7e-4598-a5ac-59a348cf1fb3 {
  fill: #fffcdd;
}

.bd1020f5-14ba-4271-974a-6ecc410a4f7c {
  fill: #61c2fa;
}

.e065f97a-465e-446e-8070-fdd070336ae1 {
  fill: #0054c8;
}

.ee20dff4-c5a2-4993-b3f0-503aacddfe92 {
  fill: #197cee;
}

.a58e933e-8b5c-4db8-b8d2-128e909cce51 {
  fill: #177aed;
}

.a7e503f0-884a-46dc-9c0a-6ea4a13c727a {
  fill: #1579ec;
}

.a3731420-4459-4b7e-8890-2572ce645e77 {
  fill: #ff89a8;
}

.b83322e5-8a77-47b9-8372-0ff2b0bae2de {
  fill: #e5e1ca;
  stroke: #29abe2;
}

.a3a6070d-e07b-4abf-a3e5-d3ffc8969d7e {
  fill: #ff9eac;
}

.b519d347-8d44-4b8b-95d1-7305223b033e {
  fill: #ffd7b9;
}

.a11be7a2-4330-4a18-8194-5dc863c8b542 {
  fill: #5fc1fa;
}

.b4ded82a-dcff-4061-a008-df1c3f29dcc6 {
  fill: #c1461d;
}

.ad444736-dee5-4338-8e27-7b22d5aa7cae {
  fill: #1e1d1a;
}

.ee112eb1-baf0-4926-b8a7-446e56c1fbeb {
  fill: #6483a8;
}

.a0785aa0-75f6-470c-8d6e-9a9635ced284 {
  fill: #ff8aa9;
}

/*end of styles for loading tour guides illustration*/


@media (max-width: 692px){

  #map{
    flex-direction:column;
    width:auto;
  }

  #neighborhoodDescription{
    align-self:center;
    margin-top:5%;
    width:90%;
    margin-left:0;
    height:350px;
  }




}


@media (max-width: 515px){

  .neighborhoodsContainer {
    height:50%;
  }

  .header-container{
    width:100%;
  }
  
  
  #nhoodsMapSvgWrapper{
    height:130%;
  }

  #MapSVG_{
    margin-top:50px;
  }

  header{
    width:80%;
  }

  #neighborhoodDescription{
    margin-top:15%;
  }

  #nhoodsMapSvgWrapper{
    height:130%;
  }

}





@media (max-height: 980px){

  #nhoodsMapSvgWrapper{
    height:60%;
  }

}


@media (max-height: 619px){

  /* #nhoodsMapSvgWrapper{
    height:100%;
  } */

}


@media (max-height: 500px){

  #nhoodsMapSvgWrapper{
    height:140%;
  }

}


@media (max-height: 410px){

  #nhoodsMapSvgWrapper{
    height:160%;
  }

}