
/* common styles */
*{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
    outline:none;
}
html{
    /*the default html font size is 16px, but we want to set the html font size to be 10px, so we can use rem  */
    /* 10px/16px = .625 * 100 = 62.5 %  */
    font-size : 62.5%;
    height: 100%;
}
body{
    background-color: rgb(249, 254, 255);
    height: 100%;
}

span{
    display:block
}

a{
    text-decoration: none;
}
/* end of common styles */



/* header */
.header-container{
    background-color: rgb(242, 251, 255);
    min-height: 60px;
    width:100%;
    box-shadow: 0 0 0.7rem rgb(0,0,0,0.3);
  }
  
header{
    width:90%;
    min-height:60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display:flex;
}

nav i{
    font-size : 25px;
    color:#2D4859;
}

.navButton{
    padding:10px 25px;
    margin-left:20px;
    color:black;
    font-size : 15px;
}

.navButton:hover {
    border-bottom: solid #2D4859 3.5px;
}


.mob-wrapper{/* menu wraper for mobile */
    display:none; 
 }

 .img_form_container{
    display:flex;
    width: 60%;
    height:100%;
    padding-top: 50px;
    margin: 0 auto;
 }


/* Form */
 .formWrapper{
    /* grid-column : 2/3;
    grid-row: 2/-1; */
    background-color: #2D4859; 
    /* display:grid; */
    height: 80%;
    width:60%;
    /* grid-template-columns: 20rem 6fr 10fr 10rem ;
    grid-template-rows: 2fr auto auto;  */
    box-shadow: 0 0 0.5rem rgb(0,0,0,0.3) inset;
    display:flex;
    justify-content: center;
    align-items: center;
}

.form {
    grid-column: 2/3;
    grid-row:1/2;
    padding: 5rem 0 0 0;
    margin-right:4rem;
    margin-left:4rem;
    justify-self: center;
    align-self: center;
    position:relative;
    width:80%;
}

.formIllustration{
    width:40%;
    height: 80%;
    box-shadow: 0 0 0.5rem rgb(0,0,0,0.3) inset;
    display:flex;
    justify-content: center;
    align-items: center;
}

.user{
    margin-left:3rem;
    display:flex;
    align-items:center;
    cursor: pointer;
}

.user-image-wrapper{ 
    width:4rem;
    height:4rem;
}
.user-image-wrapper img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 50%;
}
.user-link{
  margin:0 1rem;
  text-decoration:none;
  font-size: 1.8rem;
  color:#444;
}
.user i {
   color:#444;
  font-size:1.6rem;
}

/* .form input:not(.form-checkbox){
    height:2.3rem;
    transition: background-color 0.3s;
    background-color:  #2D4859;
} */



/* .form input{
    background-color: rgb(245, 254, 255);
}

.form input:focus{
    background-color: rgb(255, 255, 255);
} */

.form label{
    font-size:1.3rem;
    font-weight:300;
    margin-right:1rem;  
}

h2{
    color:#2D4859;
    text-align: center;
    line-height: 3rem;
    color:white;
}

.whatNeighborhood #neighborhoodName{
    margin-bottom:1rem;
    margin-top: 3rem;
    padding-left: 1rem;
    border:0.1rem solid white;
    font-size:1.5rem;
    width:70%;
    height:3.8rem;
    margin-left:50%;
    transform:translate(-50%, -50%);
    border-radius: 0.8rem;
    background-color:  #2D4859; 

    color:white;
}

.whatNeighborhood #neighborhoodName:focus{
    background-color: rgb(48, 95, 124);
}

.autocomplete-items {
    position: relative;
    border: none;
    z-index: 99;
    margin-top:-1.3rem;
    left: 0;
    right: 0;
}

.autocomplete-items span {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border: 1px solid #d4d4d4; 
    width:65%;
    margin-left:50%;
    transform:translate(-50%, -50%);
}
  
.autocomplete-items span:hover {
    background-color: #e9e9e9; 
}
  
.autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}

.whatNeighborhood .borough_Zipcode{
    display:flex;
    justify-content: space-evenly;

}

.whatNeighborhood .boroSpan{
    width:40%;
    display:flex;
    padding-right:1rem;
}


.whatNeighborhood .boroSpan i{
    position:absolute;
    font-size: 2rem;
    color: #2D4859;
    margin-top:1rem;
    left:35%;
}




.whatNeighborhood span select{
    height:4rem;
    border:0.1rem solid white;
    padding-left:1rem;
    
    width:100%;
    background-color: transparent;
    border-radius: 0.8rem;

    color:white;

}

.whatNeighborhood #zipcodeInput{
    height:3.8rem;
    border:0.1rem solid white;
    padding-left:1rem;
    width:40%;
    border-radius: 0.8rem;
    color:white;
    background-color:  #2D4859;
}

.whatNeighborhood #zipcodeInput:focus{
    background-color: rgb(48, 95, 124); 
}




.form .lengthLivingInNeighborhood {
    display:flex;
    flex-direction: column;
   
}
.form .lengthLivingInNeighborhood h2{
    margin-bottom: 3rem;
}
.form .lengthLivingInNeighborhood div {
    display:block;
	font-weight: 500;
	position: relative;
    overflow: hidden;
    margin: 1rem auto;
    margin-left:10%;
    display:flex;
    align-items: center;
    width :100%;
    cursor: pointer;
}
.form .lengthLivingInNeighborhood div input{
    appearance: none;
    -webkit-appearance: none;
    -mozilla-appearance: none;
    vertical-align: text-bottom;
    
    border: 10px solid white;
    border-radius: 100%;
    margin-right: 1rem;
    transition: all 0.5s;
}
.form .lengthLivingInNeighborhood div input:checked{
    border-color: rgb(189, 220, 252);;
    border-width: 5px;
}
.form .lengthLivingInNeighborhood div input:checked +label{
    background: #2D4859;
    color:white;
}
.form .lengthLivingInNeighborhood div input:checked:before{
    content: "";
    height: 20px;
    width: 20px;
    display: block;
    background-color:#2D4859;
    border-radius: 25px;
    border-style: solid;
    border-color: white;
}
.form .lengthLivingInNeighborhood div label{
    cursor: pointer;
    border: none;
    border-bottom: 1px solid white;
    width:55%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem; 
    color:white; 
}

.form .lengthLivingInNeighborhood div label:hover{
    background: #2D4859;
    color:white;
}

.neighbhdDescription{ 
    width:100%;
    align-items: center;
}

.textAreaExplanation{
    width:70%;
    height:5rem;
    margin-bottom:5rem;
    margin-top:5rem;
    padding-top: 2rem;
    padding-left: 2.5rem;
    border: 1px white solid;
    resize: none;
    background-color:  #2D4859;

    color:white;
}

.textAreaExplanation:focus{
    background-color: rgb(48, 95, 124);
}


.likert h2{
    margin-bottom: 2rem;
}

.likertOptions{
    display:flex;
    justify-content: space-between;
    margin-top:1.5rem;
    position:relative;
    padding-top:1rem;
    padding-bottom:1rem;
    border-bottom: double;
    border-bottom-color: white;

    color:white;

    width: 70%;
    margin: 0 auto;

}


/* .likertOptions h3{
    color: #2D4859;
    width:25%;
}
.likertOptions span input{
    position:relative;
    bottom:1.3rem;
    left:50%;   
    cursor: pointer;
}
.likertOptions span label{
    color: #2D4859;
    cursor: pointer;
} */


.recommendations{
    padding:5px;
    background-color:  #2D4859;
    border: solid 1px white;
    color:white;
}

.explainLikert div{
    padding-bottom: 20px;
}

.explainLikert div h2{
    margin-bottom: 1rem;
    position: relative;
    /* color: #2D4859; */
    text-align: left;
    font-size: 13px;
    line-height: 1.5rem;
}
.explainLikert div span{
    background-color: #2D4859;
    display:inline;
    padding:0.2rem;
}
.explainLikert div textarea{
    height:2rem;
    resize: none;
    border: 1px white solid;
    position: relative;
    padding-top: 1rem;
    padding-left: 2.5rem;
    background-color: #2D4859;
    line-height: 2rem;
    color:white;
}



.explainLikert div textarea:focus{
    background-color: rgb(48, 95, 124);
}







.explainLikert div input{
  
    border: 1px white solid;
    padding-left: 2.5rem;
    padding-bottom: 14px;
    padding-top: 10px;
    background-color:  #2D4859;
    color:white;

}





.explainLikert div input:focus{
    background-color: rgb(48, 95, 124);
}


/* .explainLikert div textarea:focus{
    background-color: rgb(255, 255, 255);
} */


.labelAddPlace{
    margin: 4rem 0 0 0;
    color:white;
}

#divNameOfPlace{
    display:flex;
    height:30px;
}
.nameOfPlace{
    border:none;
    border: 1px solid white;
    padding-left: 2.5rem;
    width:90%;
    background-color:  #2D4859;
    color:white;
}

.nameOfPlace:focus{
    background-color: rgb(48, 95, 124);
}


#divArrowNameOfPlace{
    display:none;  
    margin-top:-1%;
}

#tooltipNameOfPlace{
    position: absolute;
    left:99%;
    margin-top:1%;
    background: #2D4859;
    color:white;
    padding:2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#nameOfPlaceTooltipArrow{
    display: block;
    position: relative;
    border-style: solid;
    border-width: 13px 20px 13px 0px;
    border-color: transparent #2D4859 transparent transparent;
}


.addFavPlaces textarea{
    margin-top: 1.5rem;
    resize: none;
    border: 1px white solid;
    padding-top: 0.5rem;
    padding-left: 2.5rem;
    padding-top: 2rem;
    height:3rem;
    background-color:  #2D4859;
    width:90%;
    line-height: 19px;
    color:white;

}
.addFavPlaces textarea:focus{
    background-color: rgb(48, 95, 124);
}



#divFavPlaceDescription{
    display:flex;
}


#divArrowDescriptionOfPlace{
    display:none;
    margin-top:-1%;
}

#tooltipPlaceDescription{
    position: absolute;
    left:99%;
    margin-top:1%;
    background: #2D4859;
    color:white;
    padding:2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#descriptionOfPlaceTooltipArrow{
    display: block;
    position: relative;
    border-style: solid;
    border-width: 13px 20px 13px 0px;
    border-color: transparent #2D4859 transparent transparent;
}

/* .addFavPlaces textarea:focus{
    background-color: rgb(255, 255, 255);
} */

.addFavPlaces span{
    display:flex;
    margin: 3rem 0 0 0;
    align-self: center;
}
.placeLabel{

   

    display: block;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: #2D4859;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
    align-self: center;
}

.placeLabel:hover{
    background: rgb(244, 249, 252);
    color: black;
}

#imageLabel{
    border: 1px white solid;

    font-size: 1.3rem;
    padding:1rem;
    text-align: center
}

#divFavPlaceImage{
    display:flex;
}

.labelPhoto{
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

#divArrowPhotoOfPlace{
    display:none;
    margin-top:-3rem;
    position:relative;
    left:4rem;
}

#tooltipPlaceImage{
    position: absolute;
    left:80%;
    margin-top:-10%;
    font-size: 75%;
    background: #2D4859;
    color:white;
    padding: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#photoOfPlaceTooltipArrow{
    display: block;
    position: relative;
    border-style: solid;
    border-width: 13px 20px 13px 0px;
    border-color: transparent #2D4859 transparent transparent;
    top:-1rem;
}

#addPlaceLabel{
    border: 1px white solid;
    margin-top:2.5rem;
    margin-bottom:1rem;
    font-size: 1.3rem;
    padding:1rem;
    text-align: center
}

.previewImage{
    position: absolute;;
    left:80%;
}

#enoughPlaces{
    font-size: 275%;
}

#divSvgNhoodText{
    position: relative;;
    display: flex;
    flex-direction: column;
    align-items: center;
    left:50%;
    top:50%;
    transform: translate(-50%, 50%);
    height: 100%;
    justify-content: space-around;
}

.loadingUserProfileIllustration{
    box-shadow: 0 0 0.7rem rgb(0,0,0,0.3);
}
  
#loadingUserProfileText{
      font-size: 275%;
      font-family: 'Poppins', sans-serif;
      margin-top:5%;
}

.form .displayArrows{
    display:flex;
    justify-content: space-evenly;
}


#prevQuestionSvg{
    height:8rem;
    width:10rem;
}

#pathPrevQuestion{
    cursor:pointer;
    stroke: white;
    fill:#2D4859

  
}
#pathPrevQuestion:hover{
fill:rgb(245, 254, 255);
}

#nextQuestionSvg{
    height:8rem;
    width:10rem;


}

#pathNextQuestion{
    cursor:pointer; 
    stroke: white;
    fill:#2D4859;

}
#pathNextQuestion:hover{
    fill:rgb(245, 254, 255);
    }
/* end of arrows */



.form .display{
    display:flex;
    flex-direction:column;
}

.form .displayLikert{
    display:block;
    align-items: center;   
} 

.form div{
    display:none;
}

.likertScaleExplanation{
    display: none;
}





/* tablet view */
@media (max-width: 1299px){

    .img_form_container{
        width:60%;
        flex-direction: column;
        align-items:center;
    }
    .formIllustration{
        width:60%;
        height: 40%;
    }


    /* .formWrapper{
        height:40%;
    } */


    nav{
        display:none
    }


    .mob-wrapper{
        display:block;
        padding-left: 30px;
        z-index: 1;
    }
    
    .mob-nav{
        display:none;
        position: absolute;
        padding-top:10px;
    }
    
    .navButtonSmaller{
        display:block;
        padding: 10px 5px; 
        margin-left: -35px;
        text-align: center; 
        background-color: #2D4859;
        color:white;
      }


    .formIllustration{
        display:none;
    }


    .img_form_container{
        width:80%;
    }


}



/* mobile view */
@media (max-width: 860px){




    .img_form_container{
        width:100%;
    }
    

    /* .formWrapper{
        height: auto;
    } */
    


    .likertOptions{
        flex-direction:column;
    }

    .likertOptions h3{
        padding-bottom:8px;
    }

    .form .lengthLivingInNeighborhood div{
        margin:0;
        padding-top:5px;
    }

    .form .lengthLivingInNeighborhood div input{
        margin:0;
    }

    .form .lengthLivingInNeighborhood div label{
        padding-top:0;
    }


    .addFavPlaces span{
        width:80%;
    }
    #addPlaceLabel{
        width:80%
    }


}